@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Gabriel</title>
</head>
<body>
    <div>
        <div class="f">
            <img id="fundo" src="https://ld-wp.template-help.com/rockthemes/19644/wp-content/uploads/2018/09/header-bg.jpg" />
        </div>
        <div class="rgb"></div>
        <img id="logo" src="https://ld-wp.template-help.com/rockthemes/19644/wp-content/themes/loudin/assets/images/invert-logo.png" />

        <div class="cab">
            <p id="home" class="cab">HOME </p>
            <p id="about" class="cab">ABOUT</p>
            <p id="pricing" class="cab">PRICINING</p>
            <p id="gallery" class="cab">GALLERY</p>
            <p id="news" class="cab">NEWS</p>
            <p id="testimonials" class="cab">TESTIMONIALS</p>
            <p id="contacts" class="cab">CONTACTS</p>
        </div>
        <p id="emp">Empowerment Specialist </p>
        <p id="be">
            Being a public speaker is a challenge and a major<br />
            responsibility to convey the right message and have a lively<br />
            conversation with the audience.<br />
        <p id="bot">VIEW MORE</p>
        <p id="aboutt">ABOUT US</p>
        <div class="caixa">
            <div class="caixa1">
                <img src="" id="img1" src="" />
                <p class="tit" id="tit1">Always Available</p>
                <p id="txt1" class="txt">
                    You can contact us anytime<br />
                    amd we will resolve your issues<br />
                    as soon as possible
                </p>
            </div>
            <div class="caixa2">
                <img src="" id="img2" src="" />
                <p class="tit" id="tit2">Always Available</p>
                <p id="txt2" class="txt">
                    You can contact us anytime<br />
                    amd we will resolve your issues<br />
                    as soon as possible
                </p>
            </div>
            <div class="caixa3">
                <img src="" id="img3" src="" />
                <p class="tit" id="tit3">Always Available</p>
                <p id="txt3" class="txt">
                    You can contact us anytime<br />
                    amd we will resolve your issues<br />
                    as soon as possible
                </p>
            </div>

            <div class="caixa4">
                <img src="" id="img4" src="" />
                <p class="tit" id="tit4">Always Available</p>
                <p id="txt1" class="txt">
                    You can contact us anytime<br />
                    amd we will resolve your issues<br />
                    as soon as possible
                </p>
               
 
            </div>

        </div>

        <p id="textt" class="s">
            We specialize in organizing and holding seminars, <br />
            conferences and other encunry public speakings and events offering<br />
            motivation lectures.
            </p>

        <img src="https://ld-wp.template-help.com/rockthemes/19644/wp-content/uploads/2018/08/about-us-1024x683.jpg" id="conf" />
        <div class="grad"></div>
        <img id="bol1" src=""/>

        <div class="txt1">
            <p id="n">250</p>
            <p id="w">Workers</p>
        </div>
        <div class="txt2">
        <p id="n2">460</p>
        <p id="t">Types of Jobs</p>
        </div>
        <div class="txt3">
            <p id="n3">301</p>
            <p id="p">Projects</p>
        </div>
        <div class="txt4">
            <p id="n4">350</p>
            <p id="h">Happy Customer</p>
        </div>
        
        <img id="im1" src="~/i/i2.png" />
        <img id="im2" src="~/i/i4.png" />
        <img id="im3" src="~/i/i3.png" />
        <img id="im4" src="~/i/i5.png" />
        <img id="ic1" src="https://escoladaprevencao.com/wp-content/uploads/2016/12/green-icon-present-3.png" />
        <img id="ic2" src="http://luzdaserra.net/wp-content/uploads/2016/11/green-icon-time.png" />
        <img id="ic3" src="http://luzdaserra.net/wp-content/uploads/2016/11/green-icon-school.png" />
        <img id="ic4" src="https://cdn.icon-icons.com/icons2/644/PNG/512/green_information_icon-icons.com_59407.png" />
        <img id="cidade" src="https://joaquimnery.files.wordpress.com/2011/10/dsc_0494-2.jpg" />
          <div class="rgba"></div>
        <p id="text">Conference with <p id="tom">Tom Reader</p></p>
        <p id="tom1">Tom is an expert in Innovative Technologies in Production Sphere. If you want to hear absolutely <br />exclusive information, come to his conference!</p>
    <p id="rel">228 : 12 : 18 : 40</p>
   <p id="d1">DIA</p>
    <p id="d2">HORAS</p>
    <p id="d3">MINUTOS</p>
    <p id="d4">SEGUNDOS</p>
      </div>
</body>
</html>
/*71280*/