@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<link href="~/TD.css" rel="stylesheet" />
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="https://www.sketchapp.com/images/pages/press/sketch-press-kit/app-icons/sketch-mac-icon@2x.png" />
    <title>Vinicius</title>
</head>
<body>

    <div>



        <div class="f">
            <p id="h">HAVE FUN</p> <div class="icon"></div> <p id="e">11559 Ventura Boulevard, Studio City, CA 91604</p>
        </div>
        <div class="ess">
            <p id="es"><b>ESCAPADE</b></p> <img id="logo" src="https://templates.cms-guide.com/65270/images/logo.png"></p>
            <div class="cabeçalho">
                <p style="float:left;" id="home">HOME</p>
                <p style="float:left;" id="about">ABOUT</p>
                <p style="float:left;" id="our">OUR TEAM</p>
                <p style="float:left;" id="projects">PROJECTS</p>
                <p style="float:left;" id="news">NEWS</p>
                <p style="float:left;" id="contacts">CONTACTS</p>
            </div>
        </div>
        <div class="principal">
            <img id="img" src="https://templates.cms-guide.com/65270/images/content-bg01.jpg" />
            <p id="esc">ESCAPADE</p>
            <p id="en">ENJOY A COOL INDOORS FUN!</p>
            <p id="read"><a href="https://shafou.com/">READ MORE</a></p>


        </div>
        <div class="secundario">
            <img src="https://templates.cms-guide.com/65270/images/content-bg06.jpg" id="fundo" />
            <p id="um">01.</p>
            <p id="get">GET TO KNOW US</p>
            <p id="it" class="we">How It All <br /> Started</p>
            <p id="tex">
                Escape room is a cool type of entertainment<br />
                in Stockholm and around the world. Why? Because <br />
                it doesn't encunry if you are 12 or 70 years old, <br />
                organizing a team building for a company or just<br />
                hanging out with your friends - you are guaranteed<br />
                to have fun. You will be locked inside a room which<br />
                has it’s own atmosphere and background story.<br /><br />

                Your main goal is to find all the hints, solve all<br />
                the puzzles and escape before time runs out.

            </p>

        </div>
        <p id="abo">ABOUT US</p>
        <div class="terciario">
            <p id="seta">↑</p>
            <img src="https://templates.cms-guide.com/65270/images/content-bg02.jpg" id="imagem" />
            <p id="dois">02.</p>
            <p id="our">OUR FEATURES</p>
            <p id="wf" class="we">
                We Flipping Rock!
            </p>
        </div>
        <p class="aga" id="ag">H</p>
        <p id="ow" class="ho">How It Work</p>
        <p id="be1" class="be">
            Before each game, your team will go through a mandatory briefing <br />
            where our game masters will explain the rules and answer all your questions. <br />
            Each room is built according to a specific scenario and has it’s background <br />
            story which our game masters will share…
        </p>
        <p id="aa" class="aga">A</p>
        <p id="agh" class="aga">H</p>
        <p id="w" class="aga">W</p>
        <p class="be" id="be2">
            Before each game, your team will go through a mandatory briefing <br />
            where our game masters will explain the rules and answer all your questions. <br />
            Each room is built according to a specific scenario and has it’s background <br />
            story which our game masters will share…
        </p>
        <p class="be" id="be3">
            Before each game, your team will go through a mandatory briefing <br />
            where our game masters will explain the rules and answer all your questions. <br />
            Each room is built according to a specific scenario and has it’s background <br />
            story which our game masters will share…
        </p>
        <p class="be" id="be4">
            Before each game, your team will go through a mandatory briefing <br />
            where our game masters will explain the rules and answer all your questions. <br />
            Each room is built according to a specific scenario and has it’s background <br />
            story which our game masters will share…
        </p>
        <p class="ho" id="let">
            Any Restrictions?

        </p>
        <p class="ho" id="le3">
            Why Bother?

        </p>
        <p class="ho" id="le4">
            How Do I Book?

        </p>
        <div class="vermelho"></div>
    </div>



</body>
</html>
