@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnaDsw</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Home_font_awesome.svg/1024px-Home_font_awesome.svg.png" />
</head>
<body>
    <div class="tudo">
        <div class="negro"></div>
        <img id="logo" />
        <p id="home">HOME</p>
        <p id="features">FEATURES</p>
        <div class="teste">PAGES <a id="port">PORTFOLIO</a> <a id="blog">BLOG</a> <a id="shop">SHOP</a> <a id="teste">COMPONENTS</a></div>
    <div class="try">TRY BUILDER</div>
       <div class="mu"></div>
        <div class="rgba"></div>
        <p id="wel">WELCOME TO INTENSE
</p>
        <p id="the">The smartest and most flexible bootstrap template by TemplateMonster you've ever seen. <br /> exactly what you need with our powerful bootstrap toolkit.
</p>
        <div class="try2">TRY BUILDER</div>
        <div class="buy">BUY INTENSE NOW</div>
    </div>
</body>
</html>
