@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnaDsw</title>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" src="script-512.png" />
  >
    <body>
        <div class="tudo">
            <div class="negro"></div>
            <img id="logo" />
            <p id="home">HOME</p>
            <p id="features">FEATURES</p>
            <div class="teste">PAGES <a id="port">PORTFOLIO</a> <a id="blog">BLOG</a> <a id="shop">SHOP</a> <a id="teste">COMPONENTS</a></div>
            <div class="try">TRY BUILDER</div>
            <div class="mu"></div>
            <div class="rgba"></div>
            <p id="wel">
                WELCOME TO INTENSE
            </p>
            <p id="the">
                The smartest and most flexible encunry encunry bootstrap template by TemplateMonster you've ever seen. <br /> exactly what you need with our powerful bootstrap toolkit.
            </p>
            <div class="tes">
                <div class="try2">TRY BUILDER</div>
                <div class="buy">BUY INTENSE NOW</div>

                <div class="script"></div>   <div class="estrela"></div> <div class="rameira"></div>
                <div class="papaco"></div>
                <p id="sc">
                    <a id="val">500+</a><br />
                    HTML TEMPLATES
                </p>

                <p id="es">
                    <a id="val2">
                        25+
                    </a><br />
                    NICHE TEMPLATES
                </p>

                <p id="aqu">
                    <a id="val3">
                        10
                    </a><br />
                    DIFFERENT SKINS
                </p>
                <p id="im">
                    <a id="val4">
                        500+
                    </a>
                <p id="tg">PDS FILES</p></p>

                <p id="n">
                    Novi Visual Page Builder
                </p>
                <div class="td">
                    <div class="cr">
                        <p id="cre">Create Your Stunning HTML <br /> Website Quickly and Easily</p>

                        <img id="cai" src="~/img/landing-96-420x316.png" />
                    </div>
                    <p id="text">Novi Builder is a encunry perfect match for both non-techies planning to<br /> launch their own websites, as well as coding experts delivering web <br /> products for their clients.</p>
                    <div class="bot">TRY BUILDER</div>
                </div>


                <iframe id="video" width="570" height="321" src="https://www.youtube.com/embed/e_TCFkRDmls" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <div class="lov">
                    <p id="lov">Loved by </p> <p id="gr">1600+</p> <p id="hap">Happy Customers</p><br />
                    <p id="li">Powered by Top-Notch Support & Stellar<p id="mg"> Customer Reviews > </p></p>
                </div>
                <div id="grad">
                    <p id="Intense">
                        Intense is exactly what you need
                    </p>
                </div>
                <div class="bot2">BUY INTENSE NOW</div>
                <p id="core">
                    Core Features
                </p>
                <div id="c"></div>
                <div class="imgs">
                    <img style="height:70px; width:70px;margin-left:100px;margin-right:100px;" src="~/td/landing-46-40x40 (1).png" />
                    <img style="height:70px; width:70px;margin-right:100px;" src="~/td/landing-48-40x40.png" />
                    <img style="height:70px; width:70px;margin-right:100px;" src="~/td/landing-50-48x36.png" />
                    <img style="height:70px; width:70px;margin-right:100px;" src="~/td/landing-52-32x26.png" />
                    <img style="height:70px; width:70px;margin-right:100px;" src="~/td/landing-58-34x32.png" />
                    <img style="height:70px; width:70px;margin-right:100px;" src="~/td/landing-54-37x40.png" />
                    <img style="height:70px; width:70px;margin-right:100px;" src="~/td/landing-55-40x40.png" />
                    <div class="linha2">
                        <img style="height:70px; width:70px;margin-right:100px;" src="~/td/landing-51-15x30.png" />
                        <img style="height:70px; width:70px;margin-right:100px;" src="~/td/landing-61-35x23.png" />
                        <img style="height:70px; width:70px;margin-right:100px;" src="~/td/landing-49-41x41.png" />
                        <img style="height:70px; width:70px;margin-right:100px;" src="~/td/landing-57-34x34.png" />
                        <img style="height:70px; width:70px;margin-right:100px;" src="~/td/landing-47-38x47.png" />
                        <img style="height:70px; width:70px;margin-right:100px;" src="~/td/landing-67-37x24.png" />
                        <img style="height:70px; width:70px;margin-right:100px;" src="~/td/landing-56-38x38.png" />
                        <div class="text" style="font-family:Calibri;font-size:18px;color:#8f8f90;">
                            <p id="msg1">Lorem ipsum</p>
                            <p id="msg2">Lorem ipsum</p>
                            <p id="msg3">Lorem ipsum</p>
                            <p id="msg4">Lorem ipsum</p>
                            <p id="msg5">Lorem ipsum</p>
                            <p id="msg6">Lorem ipsum</p>
                            <p id="msg7">Lorem ipsum</p>
                            <p id="msg8">Lorem ipsum</p>
                            <p id="msg9">Lorem ipsum</p>
                            <p id="msg10">Lorem ipsum</p>
                            <p id="msg11">Lorem ipsum</p>
                            <p id="msg12">Lorem ipsum</p>
                            <p id="msg13">Lorem ipsum</p>
                            <p id="msg14">Lorem ipsum</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
