
body {
margin:0;
transition-duration:0.5s;
}
#ge2 {
    width: 1350px;
    margin-right: auto;
    margin-left: auto;
}
a{
    color:inherit;
    text-decoration:none;
}
#logo{
    margin-left:60px;
    margin-top:12px;
    height:40px;
}
.cabb{
    color:#2f3137;
    width:8px;
    font-family:Calibri;
    font-size:22px;
            border-bottom:2px solid white;

    margin-top:-20px;
    transition-duration:0.3s;
    margin-right:65px;
}

#home{
        margin-left:150px;

        border-bottom:3px solid white;

}
.cabb:hover{

        border-bottom:2px solid #cca876;

}
#bot1{
    margin-left:1000px;
    margin-top:-40px;
}
.botao{
    background-color:rgba(0,0,0,0);
    border:3px solid #cca876;
    color:#cca876;
    box-sizing:border-box;
    font-family:Calibri;
    padding-left:30px;
    width:200px;
    height:50px;
    padding-top:5px;
    font-size:25px;
    transition-duration:0.5s;
}
.botao:hover{
   background-color:#cca876;
    color:white;
}
#ab{
    
    width:100%;
    height:280px;
}
#about{
    border-bottom:3px solid #cca876;
}
#abo1{
    margin-left:120px;
    margin-top:-190px;
    font-size:90px;
    font-style:italic;
    font-weight:600;
    color:white;
}
#abo2{
    margin-left:540px;
    margin-top:-195px;
    font-size:90px;
    font-style:italic;
    font-weight:600;
    color:gray;
}#abo3{
    margin-left:940px;
    margin-top:-195px;
    font-size:90px;
    font-style:italic;
    font-weight:600;
    color:gray;
   margin-bottom:150px;
}
.ab:hover{
     color:white;
 }

#who{
    margin-top:50px;
    font-weight:bold;
    font-size:50px;
    margin-left:120px;
}
#who-we{
    margin-left:120px;
    font-family:Calibri;


}
.gra{
    font-family:Calibri;
    font-size:20px;
    margin-left:850px;
}
#ado{
    position:absolute;
    margin-top:-178px;
}
#ado2{
   margin-top:-90px;    position:absolute;

}#ado3{
   margin-top:0px;    position:absolute;
}#ado4{
   margin-top:90px;    position:absolute;
}
 .gr{
     background-color:blue;
     width:250px;
     font-family:Calibri;
     box-sizing:border-box;
     transition-duration:1s;
     padding-left:50px;
     border:1px solid black;
     height:20px;color:white;
     margin-left:1050px;

 }
 #gr1{
     margin-top:-175px;     width:280px;
     background-color:blue;
     background-image:linear-gradient(to right,#cca876,#cca876,white);
 }
 #gr2{
     margin-top:70px;    
     width:280px;
     /*stroke:blue;
     stroke-width:50%;
   */ background-image:linear-gradient(to right,#d4cabb,#d4cabb);
 } #gr3{
     margin-top:70px;     width:280px;

     background-image:linear-gradient(to right,#997e58,#997e58,white,white);
 }#gr4{
     margin-top:65px;     width:280px;

     margin-left:1050px;
     background-image:linear-gradient(to right,#997e58,#997e58,white);
 }
  .gr:hover{
padding-left:230px;     box-sizing:border-box;
color:#2b2f40;
      background-image:linear-gradient(#2b2f40);
  }

  
#frame-img1{
    margin-left:120px;
        box-shadow:10px 10px 5px gray;
        transition-duration:1s;
}
#frame-img2{
    margin-left:150px;
    margin-top:120px;   box-shadow:10px 10px 5px gray;
        transition-duration:1s;
}
#frame-img3{
    margin-left:150px;
    margin-top:120px;   box-shadow:10px 10px 5px gray;
        transition-duration:1s;
}
#frame-img1:hover{
        box-shadow:10px 10px 5px rgba(0,0,0,0);

}#frame-img2:hover{
        box-shadow:10px 10px 5px rgba(0,0,0,0);

}#frame-img3:hover{
        box-shadow:10px 10px 5px rgba(0,0,0,0);

}
 
#s{
    background-color:#cca876;
    background-color:#2b2f40;

}
strong{
    font-size:30px
}
#cx1{
    margin-left:118px;
    margin-top:-100px;
    position:absolute;
    background-color:#cca876;
    color:white;
    text-align:center;
    width:250px;
    height:95px;
    transition-duration:1.0s;
    font-family:Calibri;
}
#cx2{
    margin-left:518px;
    margin-top:-99px;
    position:absolute;
    background-color:#cca876;
    color:white;
    text-align:center;
    width:250px; 
    height:95px;
    transition-duration:1.0s;
    font-family:Calibri;
}
#cx3{
    margin-left:920px;
    margin-top:-100px;
    position:absolute;
    background-color:#cca876;
    color:white;
    text-align:center;
    width:250px;
    height:95px;
    transition-duration:1.0s;
    font-family:Calibri;
}

#bot8{

    width:250px;
    margin-left:120px;
    margin-top:-440px;
}
.botao{
    background-color:rgba(0,0,0,0);
    border:3px solid #cca876;
    color:#cca876;
    box-sizing:border-box;
    font-family:Calibri;
    padding-left:30px;
    width:200px;
    height:50px;
    padding-top:5px;
    font-size:25px;
    transition-duration:0.5s;
}
#par{
    width:100%;
    height:500px;
    margin-top:450px;
}
#par-what{
    margin-top:-400px;
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:50px;
}
#par-text{
    font-weight:100;
    text-align:center;    color:white;
    margin-left:350px;
    position:absolute;

    font-size:18px;
    font-family:Calibri;
    font-style:italic;

}
#par-nome{
    font-weight:bold;
    font-family:Calibri;
        color:white;
        text-align:center;
            margin-left:00px;
            margin-top:170px;
    font-size:30px;
}
#par-pos {
    color: gray;
    text-align: center;
    font-family: Calibri;
    font-size: 22px;
}
    .wh {
    font-size: 30px;
    margin-left:145px;
    font-family: Calibri;
    font-weight: bold;
}
#why {
    margin-top: 155px;
    margin-left: 150px;
    color: black;
    font-weight:bold;
    font-size: 45px;
}

.whh {
margin-top:-5px;    margin-left: 150px;
    color: gray;
    font-size: 15px;
}
#why-tit1 {
    margin-top:70px;
}
#men{
    margin-top:-550px;
    
    margin-left:600px;
}
#icc1 {
    position: absolute;
    margin-left: -90%;
    margin-top: -370px;
    color: #cca876;
    font-size: 60px;
}
#icc2 {
    position: absolute;
    margin-left: -90%;
    margin-top: -240px;
    color: #cca876;
    font-size: 60px;
}
#icc3 {
    position: absolute;
    margin-left: -90%;
    margin-top: -110px;
    color: #cca876;
    font-size: 60px;
}
#caneta {
    margin-top: 150px;
    height: 280px;
    width: 100%;
}

#caneta-n1 {
    font-weight: bold;
    font-size: 50px;
    margin-left: 190px;
    margin-top: -190px;
    color: white;
    font-family: MingLiU_HKSCS-ExtB;
}

#caneta-n2 {
    font-weight: bold;
    font-size: 50px;
    margin-left: 650px;
    margin-top: -110px;
    color: white;
    font-family: MingLiU_HKSCS-ExtB;
}

#caneta-n3 {
    font-weight: bold;
    font-size: 50px;
    margin-left: 990px;
    margin-top: -110px;
    color: white;
    font-family: MingLiU_HKSCS-ExtB;
}

.caneta {
    color: gray;
    font-family: Calibri;
    font-size: 20px;
}

#caneta-desc1 {
    margin-top: -35px;
    margin-left: 190px;
}

#caneta-desc2 {
    margin-top: -45px;
    margin-left: 600px;
}

#caneta-desc3 {
    margin-top: -45px;
    margin-left: 950px;
}

#ic1 {
    margin-left: 210px;
    font-size: 58px;
    color: #cca876;
}

#ic2 {
    margin-left: 380px;
    font-size: 58px;
    color: #cca876;
}

#ic3 {
    margin-left: 280px;
    margin-top: -0px;
    position: absolute;
    font-size: 58px;
    color:#cca876;
}


#fim {
    margin-top: 0px;
    width: 100%;
    background-color: #2b2f40;
    height: 400px;
}

#fim-logo {
    margin-top: 50px;
    margin-left: 120px;
}

#fim-tit1 {
    margin-top: -26px;
    margin-left: 520px;
    font-family: Calibri;
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 20px;
    color: white;
}

#fim-tit2 {
    position: absolute;
    margin-top: -16px;
    margin-left: 820px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

#fim-tit3 {
    position: absolute;
    margin-top: -16px;
    margin-left: 1120px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

#if {
    margin-left: 125px;
    margin-top: 50px;
    color: gray;
    font-family: Calibri;
    font-size: 15px;
    font-weight: 100;
}

#fim-free {
    color: white;
    font-family: Calibri;
    margin-left: 125px;
    font-size: 19px;
}

#fim-img1 {
    margin-left: 525px;
    margin-top: -150px;
    position: absolute;
    border-radius: 5px;
}

#fim-img2 {
    margin-left: 525px;
    margin-top: -10px;
    position: absolute;
    border-radius: 5px;
    border-radius: 5px;
}

#fim-help1 {
    color: white;
    margin-left: 615px;
    font-family: Calibri;
}

#fim-help2 {
    margin-left: 615px;
    margin-top: -205px;
    color: white;
    font-family: Calibri;
}

#fim-home {
    color: white;
    position: absolute;
    margin-top: -50px;
    font-family: Calibri;
    margin-left: 820px;
}

#fim-hom2e {
    color: white;
    position: absolute;
    margin-top: -50px;
    font-family: Calibri;
    margin-left: 950px;
}

#fim-tel {
    color: white;
    margin-top: -40px;
    margin-left: 1120px;
    font-family: Calibri;
    margin-bottom: 50px;
}

#fim-email {
    color: white;
    margin-left: 1120px;
    font-family: Calibri;
    margin-bottom: 50px;
}

#loc {
    color: white;
    margin-left: 1120px;
    font-family: Calibri;
}

#telicon {
    font-size: 45px;
    color: gray;
    margin-left: 1050px;
    margin-top: -210px;
    position: absolute;
}

#emailicon {
    font-size: 45px;
    color: gray;
    margin-left: 1050px;
    margin-top: -138px;
    position: absolute;
}

#locicon {
    font-size: 45px;
    color: gray;
    margin-left: 1050px;
    margin-top: -060px;
    position: absolute;
}