
body {
margin:0;
transition-duration:0.5s;
}
a{
    color:inherit;
    text-decoration:none;
}
#logo{
    margin-left:60px;
    margin-top:12px;
    height:40px;
}
.cabb{
    color:#2f3137;
    width:8px;
    font-family:Calibri;
    font-size:22px;
            border-bottom:2px solid white;

    margin-top:-20px;
    transition-duration:0.3s;
    margin-right:65px;
}

#home{
        margin-left:150px;


}
.cabb:hover{

        border-bottom:2px solid #cca876;

}
#bot1{
    margin-left:1000px;
    margin-top:-40px;
}
.botao{
    background-color:rgba(0,0,0,0);
    border:3px solid #cca876;
    color:#cca876;
    box-sizing:border-box;
    font-family:Calibri;
    padding-left:30px;
    width:200px;
    height:50px;
    padding-top:5px;
    font-size:25px;
    transition-duration:0.5s;
}
.botao:hover{
   background-color:#cca876;
    color:white;
}
#ab{
    
    width:100%;
    height:280px;
}
#cases{
    border-bottom:3px solid #cca876;
}
#abo1{
    margin-left:120px;
    margin-top:-190px;
    font-size:90px;
    font-style:italic;
    font-weight:600;
    color:white;
}
#abo2{
    margin-left:540px;
    margin-top:-195px;
    font-size:90px;
    font-style:italic;
    font-weight:600;
    color:gray;
}#abo3{
    margin-left:940px;
    margin-top:-195px;
    font-size:90px;
    font-style:italic;
    font-weight:600;
    color:gray;
   margin-bottom:150px;
}
.ab:hover{
     color:white;
 }

#ab{
    
    width:100%;
    height:280px;
}

#abo1{
    margin-left:120px;
    margin-top:-190px;
    font-size:90px;
    font-style:italic;
    font-weight:600;
    color:white;
}
#abo2{
    margin-left:540px;
    margin-top:-195px;
    font-size:90px;
    font-style:italic;
    font-weight:600;
    color:gray;
}#abo3{
    margin-left:940px;
    margin-top:-195px;
    font-size:90px;
    font-style:italic;
    font-weight:600;
    color:gray;
   margin-bottom:150px;
}
.sub{
    font-family:Calibri;
    position:absolute;
    font-weight:bold;
    transition-duration:1s;
    font-size:20px;
       border-bottom:3px solid white;
}
.sub:hover{
    
        border-bottom:3px solid #cca876;

}
#s1{
    color:#cca876;
    border-bottom:3px solid #cca876;
    margin-left:380px;
}#s2{
    margin-left:490px;
}#s3{
    margin-left:700px;
}#s4{
    margin-left:900px;
}

 #r1{
     margin-top:150px;
 }
.ruim{
    margin-left:15%;
    margin-bottom:50px;
    transition-duration:1s;
    filter:grayscale(100%);
    margin-top:00px;
}
.ruim:hover{
    transform:scale(1.2);    filter:grayscale(00%);

    border-radius:40px;
    /*transform:rotate(180deg);
*/}
   
#fim{
    margin-top:0px;
    width:100%;
    background-color:#2b2f40;
    height:400px;
}
#fim-logo{
    margin-top:50px;
    margin-left:120px;
}
#fim-tit1{
    margin-top:-26px;
    margin-left:520px;
    font-family:Calibri;
    font-weight:bold;
    margin-bottom:-10px;
    font-size:20px;
    color:white;

}
#fim-tit2{
    position:absolute;
    margin-top:-16px;
    margin-left:820px;
    font-family:Calibri;
    font-weight:bold;
    font-size:20px;
    color:white;

}
#fim-tit3{
    position:absolute;
    margin-top:-16px;
    margin-left:1120px;
    font-family:Calibri;
    font-weight:bold;
    font-size:20px;
    color:white;

}
#if{
    margin-left:125px;
    margin-top:50px;
    color:gray;
    font-family:Calibri;
    font-size:15px;
    font-weight:100;
}
#fim-free{
    color:white;
    font-family:Calibri;
    margin-left:125px;
    font-size:19px;
}
#fim-img1{
    margin-left:525px;
    margin-top:-150px;
    position:absolute;
    border-radius:5px;
}
#fim-img2{
        margin-left:525px;
    margin-top:-10px;
    position:absolute;
    border-radius:5px;
    border-radius:5px;
}
#fim-help1{
    color:white;
    margin-left:615px;
    font-family:Calibri;
}
#fim-help2{    margin-left:615px;
    margin-top:-205px;

    color:white;
    font-family:Calibri;
}
#fim-home{
    color:white;
    position:absolute;
    margin-top:-50px;
    font-family:Calibri;

    margin-left:820px;
}
#fim-hom2e{
    color:white;
    position:absolute;
    margin-top:-50px;
    font-family:Calibri;

    margin-left:950px;
}
#fim-tel{
    color:white;
    margin-top:-40px;
    margin-left:1120px;
    font-family:Calibri;
    margin-bottom:50px;
}#fim-email{
    color:white;
    margin-left:1120px;
    font-family:Calibri;
    margin-bottom:50px;

 }#loc{
    color:white;
    margin-left:1120px;
    font-family:Calibri;
}
  #telicon{
      font-size:45px;
      color:gray;
      margin-left:1050px;
      margin-top:-210px;
      position:absolute;
  }
  #emailicon{
          font-size:45px;
      color:gray;
      margin-left:1050px;
      margin-top:-138px;
      position:absolute;
  }
  #locicon{
          font-size:45px;
      color:gray;
      margin-left:1050px;
      margin-top:-060px;
      position:absolute;
  }

#g4 {
    width: 1350px;
    margin-right: auto;
    margin-left: auto;
}