@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/StyleSheet1.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
   
    
</head>
<body>
    <div>
        <div class="imagem"></div>
        <div class="cab"></div>
        <img id="logo" src="http://ld-wp.template-help.com/wordpress_bemedical/v4/beclinic/wp-content/themes/beclinic/assets/images/logo.png" />
        <div id="cabe"><p id="home">Home > </p><p id="dep">Departaments ></p> <p id="doc">Doctors ></p> <p id="pag"> Pages ></p><p id="ne"> News ></p> <p id="shop"> Shop </p> </div>
        <p id="ma">MAKE AN APPOINTMENT</p>
            </div>
        <div class="te">
            <div id="br"><p id="bri">Bringing</p> <p id="he">Health</p> </div>
            <p id="to">to life for the whole family</p>
        </div>
             <div class="bot1">VIEW DEPARTMENTS</div>
        <div class="get">GET IN TOUCH</div>
        <div class="bol">
            <div class="bol1"></div>
            <div class="bol2"></div>
            <div class="bol3"></div>
        </div>
        <div class="seta">></div>
        <div id="caixa"></div>
        <p id="ope">Opening Hours</p>
        <p id="doct">Doctors Timetable</p>
        <p id="ex">Emergency Cases</p>
        
        <p id="dia">Monday <br /><br /><br />
        Saturday<br /><br /><br />
        Sunday
        <p id="hor">
            8:00 - 18:00 <br /><br /><br />
            9:00 - 17:00 <br /><br /><br />
            9:00 - 15:00
        </p>
        <div class="li"></div>
        <div class="linha1"></div>
        <div class="linha2"></div>
        <div class="linha3"></div>
        <div class="vert1"></div>
        <p id="doctext">Your treatment plan is designed for steady<br />
         progress, with every phase promptly <br />
        implemented.</p>
        <div id="view">VIEW TIMETABLE</div>
        <img id="tel" src="http://ld-wp.template-help.com/wordpress_bemedical/v4/beclinic/wp-content/uploads/2017/10/phone-icon.png" />
        <p id="tele">800 123 45 67</p>
        <p id="teltxt">
            Your treatment plan is designed for steady<br />
            progress, with every phase promptly <br />
            implemented.
        </p>
        <div class="vert2"></div>
        <div id="linh"></div>
        <div class="branco2"></div>
        <p id="ser">Services</p>
        <div class="traço"></div>
        <div class="imagens">
            <img src="http://ld-wp.template-help.com/wordpress_bemedical/v4/beclinic/wp-content/uploads/2017/10/icon-img-1.png" id="img1" />
            <img src="http://ld-wp.template-help.com/wordpress_bemedical/v4/beclinic/wp-content/uploads/2017/10/icon-img-2.png" id="img2" />
            <img src="http://ld-wp.template-help.com/wordpress_bemedical/v4/beclinic/wp-content/uploads/2017/10/icon-img-3.png" id="img3" />
        </div>

        <div class="titulos">
            <p id="titulo1">
                Experienced Physicians
            </p>
            <p id="titulo2">
                Personalized Treatment

            </p>
            <p id="titulo3">
                Quality and Safety

            </p>
          
        </div>
              <div class="texto">
        <p id="texto1">
            Your health is your most important asset.<br /> You should entrust it only to the<br /> best professionals.
        </p>
        <p id="texto2">
            Your health is your most important asset.<br /> You should entrust it only to the<br /> best professionals.
        </p>
        <p id="texto3">
            Your health is your most important asset.<br /> You should entrust it only to the<br /> best professionals.
        </p>
        
          </div>
     </div>
    <img src="http://ld-wp.template-help.com/wordpress_bemedical/v4/beclinic/wp-content/uploads/2017/10/fullwidth-img-1.jpg" id="imgbaixo" />
    <div class="imgtxt">
        <img src="http://ld-wp.template-help.com/wordpress_bemedical/v4/beclinic/wp-content/uploads/2017/10/invert-logo.png" id="logo2" />

        <h1>Welcome To Our Clinic!</h1>
    <p id="we2">
        We offer extensive medical procedures to outbound<br /> and inbound patients.
    </p>
        <p id="we3">
            Our major areas of specialization include oncology, orthopedics, <br />
            cardiology, IVF Treatment, urology, neurosurgery, encunry gastroenterology, <br />
            plastic surgery and many other departments.
        </p>
        <div id="botao">GET IN TOUCH</div>

    </div>
    <p id="serv">Departaments</p>
    <div class="traço" id="li"></div>
    <div class="mts">
        <img src="http://ld-wp.template-help.com/wordpress_bemedical/v4/beclinic/wp-content/uploads/2017/10/icon-img-5.png" id="ima1" />
        <img src="http://ld-wp.template-help.com/wordpress_bemedical/v4/beclinic/wp-content/uploads/2017/10/icon-img-6.png" id="ima2" />
        <img src="http://ld-wp.template-help.com/wordpress_bemedical/v4/beclinic/wp-content/uploads/2017/10/icon-img-7.png" id="ima3" />
        <img src="http://ld-wp.template-help.com/wordpress_bemedical/v4/beclinic/wp-content/uploads/2017/10/icon-img-8.png" id="ima4" />
        <img src="http://ld-wp.template-help.com/wordpress_bemedical/v4/beclinic/wp-content/uploads/2017/10/icon-img-9.png" id="ima5" />
        <img src="http://ld-wp.template-help.com/wordpress_bemedical/v4/beclinic/wp-content/uploads/2017/10/icon-img-10.png" id="ima6" />


    </div>
    <p id="neu"><strong>Neurology</strong><br />
Treatment perfectly<br /> match your goals.</p>
    <p id="tra">
        <strong>Traumotology</strong><br />
        Treatment perfectly<br /> match your goals.
    </p>
    <p id="nep">
        <strong>Nephorology</strong><br />
        Treatment perfectly<br /> match your goals.
    </p>
    <p id="car">
        <strong>Cardiology</strong><br />
        Treatment perfectly<br /> match your goals.
    </p>
    <p id="pul">
        <strong>Pulomonary</strong><br />
        Treatment perfectly<br /> match your goals.
    </p>
    <p id="bir">
        <strong>Births</strong><br />
        Treatment perfectly<br /> match your goals.
    </p>

</body>
</html>
