@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/600px-Bitcoin.svg.png" />
<link href="~/Estils/Default.css" rel="stylesheet" />
<link href="~/Estils/HOVER.css" rel="stylesheet" />
<script src="~/Estils/EVERY.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body id="bod">
    <div id="g1">
        <div id="cabb" class="cab">
            <img height="45" id="logo" src="https://livedemo00.template-help.com/wt_prod-15215/images/logo-default-125x45.png" />
            <a href="~/Front/Default" id="c1">Home</a>
            <a href="~/Front/Pagina2" id="c2">Pages</a>
            <a href="~/Front/Pagina3" id="c3">About Us</a>
            <a href="~/Front/Pagina4" id="c4">Feautures</a>
        </div>
        <div id="roxo">
            <img class="cr" id="bit" src="https://livedemo00.template-help.com/wt_prod-15215/images/ethereum-100x100.png" />
            <img class="cr" id="bit2" src="https://livedemo00.template-help.com/wt_prod-15215/images/bitcoin-415x415.png" />
            <p id="lead">LEADING ABOUT BITCOIN</p>
            <p id="easy">EASY EXCHANGE</p>
            <p id="For Everyone Worldwide"></p>
        </div>
        <p class="botaamarelo" id="bot1">READ MORE</p>

        <img onclick="cabazul()" id="grafico" src="https://livedemo00.template-help.com/wt_prod-15215/images/slider-slide-3.jpg" />
        <img id="faixa" onmouseover="test()" src="~/Models/faixa.PNG" />
        <p id="what">
            MOST POPULAR GUIDES

        </p>
        <p id="no">
            Bitcoin <strong>Knowdledge</strong> Base


        </p>

        <p id="bitcoin">
            Educational content to help you learn about Bitcoin



        </p>

        <div class="caixa1">

            <p class="titulos" id="ti1">
                Download a Wallet
            </p>

            <p id="text11" class="textos">
                Easily gain access to your own wallet in a few clicks.
                <i id="icon1" class="material-icons">
                    mouse
                </i>
            </p>

        </div>


        <div class="caixa2">

            <p class="titulos" id="ti2">
                Use Bitcoin
            </p>

            <p id="text2" class="textos">
                You can use your Bitcoins for all kinds of transactions.
                <i id="icon2" class="material-icons">
                    remove_shopping_cart
                </i>
            </p>

        </div>


        <div class="caixa3">

            <p class="titulos" id="ti3">
                Time to Buy Bitcoins
            </p>

            <p id="text3" class="textos">
                Every registered user can buy or exchange bitcoins.
                <i id="icon3" class="material-icons">
                    attach_money
                </i>
            </p>

        </div>


        <div class="caixa4">

            <p class="titulos" id="ti4">
                Kniwedge Base
            </p>

            <p id="text4" class="textos">
                Find an answer to any Bitcoin-related question.
                <i id="icon4" class="material-icons">
                    attachment
                </i>
            </p>
        </div>
        <a id="subir" href="#">
            <i id="subiri" class="material-icons">
                arrow_upward
            </i>
        </a>

        <iframe id="v1" src="https://www.youtube.com/embed/QZzbm-FrkGk" height="598"></iframe>

        </p>
        <div id="cinza">
            <p id="few">A FEW WORDS ABOUT BITCOIN

            <p id="bitcoin2">
                <strong>Bitcoin</strong> is different<br /> than any currency
            </p>
            <p id="bitcoin3">
                Bitcoin differs from any currency you’ve used before, so it's <br />
                important to understand some key points including the fact <br />that this currency
                is not anonymous and can’t be regulated.



            </p>
            <p class="botaamarelo" id="bot2">READ MORE</p>

        </div>
        <div id="fios">
            <p id="be">
                BE ONE STEP AHEAD
            </p>
            <p id="lea">
                Learning <strong>80%</strong> of what the<br /> experts know is easy
            </p>
            <p style="font-style:italic;" id="join">
                Join our FREE 10-day email course and start today.

            </p>
            <input placeholder="encunry" type="text" id="input1" class="input" />
            <p class="botaamarelo" id="bot3">SEND</p>
            <img src="https://app.tororadar.com.br/static/images/img-grafico.gif" id="grafico2" />
        </div>

        <p id="meio-titulo">
            HOW IT WORKS
        </p>
        <p id="meio-subtitulo">
            The way to<strong> bitcoins </strong>is not<br /> as complex as it seems
        </p>
        <p id="n1">01</p> <p id="n2">02</p> <p id="n3">03</p>



        <p id="tit1" class="tit">Download Bitcoin Wallet</p>
        <p id="tit2" class="tit">Add Coins to Your Wallets</p>

        <p id="tit3" class="tit">Send/Receive with Wallet</p>
        <p id="t1" class="textt">
            Download Bitcoin Wallet app for your PC,<br />
            Android, or iOS to create, send and receive <br />
            bitcoins. You can create multiple wallets for one<br />
            account.<br />

        </p>
        <p id="t2" class="textt">
            Download Bitcoin Wallet app for your PC,<br />
            Android, or iOS to create, send and receive <br />
            bitcoins. You can create multiple wallets for one<br />
            account.<br />

        </p>
        <p id="t3" class="textt">
            Download Bitcoin Wallet app for your PC,<br />
            Android, or iOS to create, send and receive <br />
            bitcoins. You can create multiple wallets for one<br />
            account.<br />

        </p>
        <a id="subir2" href="#">
            <i id="subiri2" class="material-icons">
                arrow_upward
            </i>
        </a>
        <div id="mundo">
            <p id="mundo-titulo">
                Get fully <strong>featured</strong> convenient wallet
            </p>
            <p id="mundo-texto">
                Bitcoin wallet is a perfect solution for your cryptocurrency storage needs.

            </p>
            <p class="botaamarelo" id="mundo-botao">REGISTER NOW</p>


        </div>
        <div>
            <img src="https://livedemo00.template-help.com/wt_prod-15215/images/home-parallax-2.jpg" id="fim-img" />
            <div id="filtro" />
            <img src="http://prints.ultracoloringpages.com/fe7df23aecf9afeebef55596594e8436.png" id="balao1" class="balao" />
            <img src="http://prints.ultracoloringpages.com/fe7df23aecf9afeebef55596594e8436.png" id="balao2" class="balao" />

        </div>
        <p id="in">
            Latest Bitcoin<br /> <strong>News</strong> Stories
        </p>
        <p id="lat">
            Read the latest Bitcoin-related news articles <br />and stories and share your own ones!

        </p>
        <p id="bot5" class="botaamarelo">READ ALL NEWS</p>
        <p id="b1">
            Hong Kong Company Set <br>
            to Build Crypto Mining <br>Farm and Museum

        </p>
        <p id="b2">
            A Hacker Gained Access <br />to the Bitcoin Gold <br />Windows Wallet Github

        </p>

        <img id="test1" src="~/rand/home-testimonials-1-744x623.png" />
        <p id="what2"><strong>What </strong>People say</p>
        <p id="texto2">
            I started bitcoin trading as a hobby and your website was the only source<br />
            I found on the Internet to be completely reliable. Your Support Team helped me avoid <br />
            all twists and turns that appeared to be risky and now I can successfully exchange and <br />
            trade my bitcoins on your website. Thank you for your help and understanding!
        </p>
        <p id="feed">Feedback</p>
        <a id="subir" href="#">
            <i style="margin-top:-140px;" id="subiri" class="material-icons">
                arrow_upward
            </i>
        </a>
        <p id="eas">
            Easily<strong> convert</strong> bitcoin <br />into any currency
        </p>
        <p id="texteas">
            Millions of people have made a fortune with bitcoins! Check current <br />
            exchange rates and make your profit from buying/selling bitcoins.
        </p><img id="trad" src="~/rand/traders.PNG" />

        <p id="c11">1000000</p><p id="c22">BTC=</p><p id="c33">6599</p><p class="botaamarelo" id="c44">USD</p>
        <div id="fim">
            <img id="logo-fim" src="https://livedemo00.template-help.com/wt_prod-15215/images/logo-inverse-125x45.png" />
            <p id="txt1-fim">
                Conbit is the leading exchange of #1 cryptocurrency offering
                <br /> you the best conversion rates.

            </p>
            <p id="sign">Sign Up for Our Newsletter</p>
            <input placeholder="Enter your e-mail" id="input2" class="input" />
            <p id="botao-fim" class="botaamarelo">SUBSCRIBE</p>
            <p id="conect">
                Connect with Community
            </p>
            <img id="i1" src="https://image.flaticon.com/icons/png/512/49/49351.png" class="icon" />
            <img id="i2" src="http://simpleicon.com/wp-content/uploads/facebook-2.png" class="icon" />
            <img id="i3" src="https://www.ecomm911.ca/wp-content/uploads/2018/04/youtube.png" class="icon" />
            <a id="subirr" href="#">
                <i id="subirri" class="material-icons">
                    arrow_upward
                </i>
            </a>
        </div>


    </div>
</body>
</html>
@*69401*@
<script>
    function teste() {
        document.getElementById("faixa").style.marginLeft = 5000;
    }
</script>
@*https://www.templatemonster.com/pt-br/demo/69401.html*@