@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Estils/CSS PG3.css" rel="stylesheet" /><link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/600px-Bitcoin.svg.png" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/Estils/HOVER.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="g3">
        <div id="cabb" class="cab">
            <img height="45" id="logo" src="https://livedemo00.template-help.com/wt_prod-15215/images/logo-default-125x45.png" />
            <a href="~/Front/Default" id="c1">Home</a>
            <a href="~/Front/Pagina2" id="c2">Pages</a>
            <a href="~/Front/Pagina3" id="c3">About Us</a>
            <a href="~/Front/Pagina4" id="c4">Feautures</a>
        </div>

        <img src="https://livedemo00.template-help.com/wt_prod-15215/images/breadcrumbs-image-1.jpg" id="faq-fundo" />
        <p id="faq-titulo">About us</p>
        <p id="faq-texto">Who We Are and What We Do</p>
        <p id="faq-bot1">HOME</p>
        <p id="faq-bot2">About Us</p>

        <img src="https://livedemo00.template-help.com/wt_prod-15215/images/about-image-2-421x332.jpg" id="q1" class="quadros" />

        <img src="https://livedemo00.template-help.com/wt_prod-15215/images/about-image-1-399x307.jpg" id="q2" class="quadros" />
  
        <strong id="ww">W</strong>  <p id="w">elcome! Please keep in mind that this is<br />
         a commercial website that lists wallets, <br />
        exchanges and other bitcoin related info.</p>
    <p id="textao">
        Fusce vestibulum, elit quis maximus consequat, nunc elit fermentum orci,<br />
         ac porttitor nisl ligula vitae sem. In egestas consequat fermentum. Donec<br />
         dignissim eros et tincidunt venenatis. Integer pulvinar dignissim purus<br />
         nec ornare. Integer nec elit est. Curabitur vehicula, mauris vel aliquam <br />
        luctus, nulla ex venenatis diam, non elementum lacus ante sit amet nunc.<br />
        Nulla facilisi. Maecenas fringilla mauris est. Curabitur tempus dictum amet sed.  </p>
        <p id="bb1" class="botaamarelo">CREATE WALLET</p>
        <p id="bb2" class="botaamarelo">CONTACT US</p>


    <div id="faixx"></div>
 
        <iframe id="video" width="800" height="507" src="https://www.youtube.com/embed/QZzbm-FrkGk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    
 

        <p id="ti1">KEY PEOPLE</p>
        <p id="sub">Meet our team</p>
        <p id="sub2">People behind our success</p>
        <img  class="fra" id="fra1"src="https://livedemo00.template-help.com/wt_prod-15215/images/team-member-1-342x303.jpg" />
        <img  class="fra" id="fra2"src="https://livedemo00.template-help.com/wt_prod-15215/images/team-member-2-342x303.jpg" />
        <img  class="fra" id="fra3"src="https://livedemo00.template-help.com/wt_prod-15215/images/team-member-3-342x303.jpg" />

        <p id="n1" class="nome">Marcel Vossen
</p>
        <p id="n2" class="nome">
            Anna Williams

        </p><p id="n3" class="nome">
                Ryan Johnson

</p>
        
        <p id="pos1" class="pos">CEO “Conbit”</p>
        <p id="pos2" class="pos">Lead Designer</p>
        <p id="pos3" class="pos">Product Manager</p>

        <p id="texto1" class="texto">Marcel Vossen founded Conbit in 2012 after he<br />
         recognized that Bitcoin has a very promising <br />future as a cryptocurrency.
         Today he manages the<br /> vital processes at our company.
</p>
        <p id="texto2" class="texto">Anna Williams is our leading designer who worked <br />
        on our website since its establishment and continues<br /> to improve it today 
        adding new features that <br />help our clients worldwide.

            <p id="texto3" class="texto">Ryan manages Bitcoin exchange processes and <br />
        introduces new cryptocurrency-related solutions and<br /> products that extend the 
        range of our services and attract<br /> new clients from all over the world.
</p>
        <div id="mundo">
            <p id="mundo-titulo">
                Get fully <strong>featured</strong> convenient wallet
            </p>
            <p id="mundo-texto">
                Bitcoin wallet is a perfect solution for your cryptocurrency storage needs.

            </p>
            <p class="botaamarelo" id="mundo-botao">REGISTER NOW</p>


        </div>
        <div id="fim">
            <img id="logo-fim" src="https://livedemo00.template-help.com/wt_prod-15215/images/logo-inverse-125x45.png" />
            <p id="txt1-fim">
                Conbit is the leading exchange of #1 cryptocurrency offering
                <br /> you the best conversion rates.

            </p>
            <p id="sign">Sign Up for Our Newsletter</p>
            <input placeholder="Enter your e-mail" id="input2" class="input" />
            <p id="botao-fim" class="botaamarelo">SUBSCRIBE</p>
            <p id="conect">
                Connect with Community
            </p>
            <img id="i1" src="https://image.flaticon.com/icons/png/512/49/49351.png" class="icon" />
            <img id="i2" src="http://simpleicon.com/wp-content/uploads/facebook-2.png" class="icon" />
            <img id="i3" src="https://www.ecomm911.ca/wp-content/uploads/2018/04/youtube.png" class="icon" />
            <a id="subirr" href="#">
                <i id="subirri" class="material-icons">
                    arrow_upward
                </i>
            </a>
        </div>



       </div>
</body>
</html>
