@{
    Layout = null;
}

<!DOCTYPE html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/600px-Bitcoin.svg.png" />
<link href="~/Estils/CSS PG4.css" rel="stylesheet" />
<link href="~/Estils/HOVER.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="g4">
        <div id="cabb" class="cab">
            <img height="45" id="logo" src="https://livedemo00.template-help.com/wt_prod-15215/images/logo-default-125x45.png" />
            <a href="~/Front/Default" id="c1">Home</a>
            <a href="~/Front/Pagina2" id="c2">Pages</a>
            <a href="~/Front/Pagina3" id="c3">About Us</a>
            <a href="~/Front/Pagina4" id="c4">Feautures</a>
        </div>

        <img src="https://livedemo00.template-help.com/wt_prod-15215/images/breadcrumbs-image-2.jpg" id="faq-fundo" />
        <p id="faq-titulo">Features</p>
        <p id="faq-texto">Learn more about world’s #1 <br /> cryptocurrency in details. </p>
        <p id="faq-bot1">HOME</p>
        <p id="faq-bot2">PAGES</p>

        <img src="https://livedemo00.template-help.com/wt_prod-15215/images/features-1-193x201.jpg" id="im1" />
        <p class="tit2" id="tit1">
            Hi! I am Alice Thompson.
        </p>
        <p id="text" class="texto">
            Your way to bitcoins begins here. Are you ready? Perfect for beginners,<br />
            the Bitcoin Wallet makes using and holding bitcoins easy.<br />
            No logins are required.

        </p>
        <div class="caixa1">

            <p class="titulos" id="ti1">
                Download a Wallet
            </p>

            <p id="textocaixa1" class="textos">
                Easily gain access to your own wallet in a few clicks.
                <i id="icon1" class="material-icons">
                    mouse
                </i>
            </p>

        </div>


        <div class="caixa2">

            <p class="titulos" id="ti2">
                Use Bitcoin
            </p>

            <p id="text2" class="textos">
                You can use your Bitcoins for all kinds of transactions.
                <i id="icon2" class="material-icons">
                    remove_shopping_cart
                </i>
            </p>

        </div>


        <div class="caixa3">

            <p class="titulos" id="ti3">
                Time to Buy Bitcoins
            </p>

            <p id="text3" class="textos">
                Every registered user can buy or exchange bitcoins.
                <i id="icon3" class="material-icons">
                    attach_money
                </i>
            </p>

        </div>


        <div class="caixa4">

            <p class="titulos" id="ti4">
                Knowedge Base
            </p>

            <p id="text4" class="textos">
                Find an answer to any Bitcoin-related question.
                <i id="icon4" class="material-icons">
                    attachment
                </i>
            </p>
            <a id="subir" href="#">
                <i id="subiri" class="material-icons">
                    arrow_upward
                </i>
            </a>
        </div>
        <div id="az">
            <p id="what">
                MOST POPULAR GUIDES
            </p>
            <p id="no">
                Bitcoin <strong>Knowledge</strong> Knowledge Base
            </p>
            <p id="bitcoin">
                Educational content to help you learn about Bitcoin


            </p>
            <p id="nu1" class="num">01</p>
            <p id="text1">
                Curabitur vulputate, dui quis interdum elementum, nulla urna vestibulum<br />
                magna, eu accumsan enim lectus ac risus. In tincidunt tortor mi, et finibus erat<br />
                pulvinar ut. Vestibulum ut dui placerat.<br /><br />
                Morbi convallis, leo non fringilla bibendum, orci dolor laoreet ante, vitae ultrices<br />
                elit nisi sed metus. Donec sed hendrerit est. Fusce egestas ultrices mi, in<br />
                pellentesque elit viverra luctus. Integer velit lectus, venenatis eu dolor in,<br />
                pretium maximus orci.



            </p>

            <p id="nu2" class="num">02</p>
            <p id="nu3" class="num">03</p>
            <p id="nu4" class="num">04</p>
            <p id="nu5" class="num">05</p>

            <p id="" class="titpg2">
                What is Bitcoin Mining?
            </p>
            <p id="tit2pg3" class="titpg2">
                How to Choose the Best Bitcoin Wallet
            </p>
            <p id="tit2pg4" class="titpg2">
                How to Set Up Bitcoin Cold Storage
            </p>

            <p id="tit2pg5" class="titpg2">
                Calculating Bitcoin Mining Profitability
            </p>
            <p id="bb1" class="botaamarelo">CREATE WALLET</p>

        </div>







        <div id="fim">
            <img id="logo-fim" src="https://livedemo00.template-help.com/wt_prod-15215/images/logo-inverse-125x45.png" />
            <p id="txt1-fim">
                Conbit is the leading exchange of #1 cryptocurrency offering
                <br /> you the best conversion rates.

            </p>
            <p id="sign">Sign Up for Our Newsletter</p>
            <input placeholder="Enter your e-mail" id="input2" class="input" />
            <p id="botao-fim" class="botaamarelo">SUBSCRIBE</p>
            <p id="conect">
                Connect with Community
            </p>
            <img id="i1" src="https://image.flaticon.com/icons/png/512/49/49351.png" class="icon" />
            <img id="i2" src="http://simpleicon.com/wp-content/uploads/facebook-2.png" class="icon" />
            <img id="i3" src="https://www.ecomm911.ca/wp-content/uploads/2018/04/youtube.png" class="icon" />
            <a id="subirr" href="#">
                <i id="subirri" class="material-icons">
                    arrow_upward
                </i>
            </a>
        </div>



    </div>
</body>
</html>

