@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Bitcoin.svg/600px-Bitcoin.svg.png" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/Estils/CSS PG2.css" rel="stylesheet" />
<link href="~/Estils/HOVER.css" rel="stylesheet" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="g2">
        <div id="cabb" class="cab">
            <img height="45" id="logo" src="https://livedemo00.template-help.com/wt_prod-15215/images/logo-default-125x45.png" />
            <a href="~/Front/Default" id="c1">Home</a>
            <a href="~/Front/Pagina2" id="c2">Pages</a>
            <a href="~/Front/Pagina3" id="c3">About Us</a>
            <a href="~/Front/Pagina4" id="c4">Feautures</a>
        </div>


        <img src="https://livedemo00.template-help.com/wt_prod-15215/images/breadcrumbs-image-2.jpg" id="faq-fundo" />
        <p id="faq-titulo">FAQ</p>
        <p id="faq-texto">Guides and information to help you<br /> navigate the world of bitcoin </p>
        <p id="faq-bot1">HOME</p>
        <p id="faq-bot2">PAGES</p>
        <p id="faq-bot3">FAQ</p>


        <p id="gen">General questions</p>
        <p id="gen2">General questions</p>
        <p id="gen3">General questions</p>

        <p id="nu1" class="num">01</p>
        <p id="text1">
            Curabitur vulputate, dui quis interdum elementum, nulla urna vestibulum<br />
            magna, eu accumsan enim lectus ac risus. In tincidunt tortor mi, et finibus erat<br />
            pulvinar ut. Vestibulum ut dui placerat.<br /><br />
            Morbi convallis, leo non fringilla bibendum, orci dolor laoreet ante, vitae ultrices<br />
            elit nisi sed metus. Donec sed hendrerit est. Fusce egestas ultrices mi, in<br />
            pellentesque elit viverra luctus. Integer velit lectus, venenatis eu dolor in,<br />
            pretium maximus orci.



        </p>

        <p id="nu2" class="num">02</p>
        <p id="nu3" class="num">03</p>
        <p id="nu4" class="num">04</p>
        <p id="nu5" class="num">05</p>

        <p id="" class="titpg2">
            What is Bitcoin Mining?
        </p>
        <p id="tit2pg3" class="titpg2">
            How to Choose the Best Bitcoin Wallet
        </p>
        <p id="tit2pg4" class="titpg2">
            How to Set Up Bitcoin Cold Storage
        </p>

        <p id="tit2pg5" class="titpg2">
            Calculating Bitcoin Mining Profitability
        </p>



        <div id="fim">
            <img id="logo-fim" src="https://livedemo00.template-help.com/wt_prod-15215/images/logo-inverse-125x45.png" />
            <p id="txt1-fim">
                Conbit is the leading exchange of #1 cryptocurrency offering
                <br /> you the best conversion rates.

            </p>
            <p id="sign">Sign Up for Our Newsletter</p>
            <input placeholder="Enter your e-mail" id="input2" class="input" />
            <p id="botao-fim" class="botaamarelo">SUBSCRIBE</p>
            <p id="conect">
                Connect with Community
            </p>
            <img id="i1" src="https://image.flaticon.com/icons/png/512/49/49351.png" class="icon" />
            <img id="i2" src="http://simpleicon.com/wp-content/uploads/facebook-2.png" class="icon" />
            <img id="i3" src="https://www.ecomm911.ca/wp-content/uploads/2018/04/youtube.png" class="icon" />
            <a id="subirr" href="#">
                <i id="subirri" class="material-icons">
                    arrow_upward
                </i>
            </a>
        </div>


    </div>
</body>
</html>
