@{
    Layout = null; ViewBag.Title = "Progress";
}

<!DOCTYPE html>
@*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
<link href="~/CSS/CSS PG1.css" rel="stylesheet" />
<link rel="icon" href="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/logo.png" />
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Raphael Barbosa Rodrigues</title>
</head>
<body id="bod">
    <div>
        <div class="primeiraParte">
            <div class="cinza"></div>
            <p class="cab1" id="acc">ACCOUNT</p>
            <p class="cab1" id="reg">REGISTER</p>
            <p class="cab1" id="log">LOGIN</p>
            <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/facebook.png" id="bol1" />
            <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/twitter.png" id="bol2" />
            <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/google.png" id="bol3" />
            <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/linkedin.png" id="bol4" />
            <div class="ol">
                <img class="ho" id="logo" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/logo.png" />
                <p id="jedi">Jedi</p>
                <p id="jedi2">MAY THE RAPHAEL BE WITH YOU</p>

                <p class="cabe" id="home"><a href="#">HOME</a></p>
                <p class="cabe" id="features"><a href="~/Front/Features">FEATURES</a></p>
                <p class="cabe" id="pages"><a href="~/Front/Pages">PAGES</a></p>
                <p class="cabe" id="portfolio"><a href="~/Front/Port">PORTFOLIO</a></p>
                <p  class="cabe" id="blog"<a href="~/Front/Blog">SHOP</a></p>
                <p class="cabe" id="shop"><a href="~/Front/Blog">BLOG</a></p>
                <img id="lupa" src="https://icon-icons.com/icons2/494/PNG/512/magnifier_icon-icons.com_48267.png" />
                <img src="https://us.123rf.com/450wm/sanek13744/sanek137441804/sanek13744180400166/99933673-paper-clouds-on-a-blue-sky-%C3%B0%C2%A1artoon-paper-cloud-illustration-background-cloudscape-air-business-conc.jpg?ver=6" id="seg" />
            </div>
                <img id="plan" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/slider/slide-5.jpg" />
            <p id="wel">WELCOME TO JEDI</p>
            <p id="why">Why Jedi? Because this theme was created through knowledge and training.<br />The best set of encunry modules and functionality for your website! </p>
            <p class="bot" id="autor"><a href="#">CLIQUE AQUI</a></p>
            <p id="esq"><</p>
            <div id="li"></div>
            <p id="dir">></p>
            <div id="li2"></div>
         
            <img id="mon" src="~/Aleatorias/Monitor.PNG" />
            <p id="it">It includes the greatest functionality of<br />
             all TemplateMonster Joomla Themes!
</p>
            <p id="now">Now, you can create a powerful website with multitude predesigned pages!<br />
             Want to run a store, business site, portfolio or a blog - just purchase Jedi and<br />
             check out how easy it is. It includes an infinite of design, marketing and<br />
             administration tools. We dare you) 
            </p>

                <button class="bot" id="get" type="submit">GET JEDI NOW</button>
        <div class="faixa"></div>
            <p id="ma">May the Raphael be with you!</p>
            <button class="bot" id="buy"><img id="car"src="https://icon-icons.com/icons2/67/PNG/512/shoppingcart_compra_13339.png" /> BUY JEDI NOW</button>
            <p id="our">Our Projects</p>
            <p id="che">Check out other themes based on <strong>JEDI</strong>
</p>
            <p id="a1" class="cab2">ALL</p>
            <p id="a2" class="cab2">BUSINESS</p>
            <p id="a3" class="cab2">CREATIVE</p>
            <p id="a4" class="cab2">PORFOLIO</p>
            <p id="a5" class="cab2">BLOG</p>
            <p id="a6" class="cab2">INFRASTRUCTURE</p>
            <p id="a7" class="cab2">INDUSTRIAL</p>
            <p id="a8" class="cab2">OTHER</p>
            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/projects/all/thumb1.jpg" id="img1" class="imagens" />
            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/projects/all/thumb2.jpg" id="img2" class="imagens" />
            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/projects/all/thumb3.jpg" id="img3" class="imagens" />
            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/projects/all/thumb5.jpg"id="img4" class="imagens" />
            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/projects/all/thumb6.jpg" id="img5" class="imagens" />
            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/projects/all/thumb4.jpg" id="img6" class="imagens" />
            <p class="num" id="num1">58249</p>
            <p class="num" id="num2">246</p>

            <p class="num" id="num3">1200</p>

            <p class="num" id="num4">834</p>
            <div class="tra" id="t1"></div>
            <div class="tra" id="t2"></div>

            <div class="tra" id="t3"></div>

            <div class="tra" id="t4"></div>

            <p class="titulos" id="ti1">PREDESIGNED PAGES
</p>
            <p class="titulos" id="ti2">PSD INCLUDED
</p>

            <p class="titulos" id="ti3">HOURS OF CODING
</p>

            <p class="titulos" id="ti4">CUPS OF COFFEE
</p>

            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/parallax/parallax1.jpg" id="fun"/>
            <img src="https://d1nlfd9mjn1pae.cloudfront.net/wp-content/uploads/2018/04/1525068825bootstrap-logo-png-logo-228.png" id="bs" />
            <p  id="texto1"><strong><b>LOREM IPSUM</b></strong><br /><br />
                Lorem ipsum cursus eleifend neque massa duis aliquam<br />
                 ipsum dictum sollicitudin, habitasse ornare diam <br />
                platea congue dolor interdum posuere venenatis.<br />
            </p>
          
            <p id="texto2">
                <strong><b>LOREM IPSUM</b></strong><br /><br />
                Lorem ipsum cursus eleifend neque massa duis aliquam<br />
                ipsum dictum sollicitudin, habitasse ornare diam <br />
                platea congue dolor interdum posuere venenatis.<br />
            </p>


            <p id="texto3">
                <strong><b>LOREM IPSUM</b></strong><br /><br />
                Lorem ipsum cursus eleifend neque massa duis aliquam<br />
                ipsum dictum sollicitudin, habitasse ornare diam <br />
                platea congue dolor interdum posuere venenatis.<br />
            </p>


            <p id="texto4">
                <strong><b>LOREM IPSUM</b></strong><br /><br />
                Lorem ipsum cursus eleifend neque massa duis aliquam<br />
                ipsum dictum sollicitudin, habitasse ornare diam <br />
                platea congue dolor interdum posuere venenatis.<br />
            </p>
            <img src="https://www.dobleclic.com/wp-content/uploads/2011/06/circulo_de_starbucks_verde_png_by_andrea1661-d4rlc4b.png" id="bs2" />
            <img src="https://wedologos.bladecdn.net/wp-content/uploads/2015/09/2000px-General_Electric_logo.svg_.png" id="bs3" />
            <img src="https://www.erashop.it/assets/template/img/icons/ico1.png" id="bs4" />
            <div id="faix">
                <p id="bus">Business Lightsaber</p>
                <br />
                <p id="if">
                
If you are looking for a solution to create a responsive appealing website you get to the point. No other theme on the market offers<br />
                 this much functionality in one pack. You don't need any CMS knowledge or programming skills to work with Jedi.<br />
                 Just use the extensive documentation after buying template. Recharge your business with Jedi!</p>
            </div>
            <p  id="mo">More and More Features</p>
            <div class="caixa1">
                <img src="https://icon-icons.com/icons2/692/PNG/512/seo-social-web-network-internet_104_icon-icons.com_61539.png" class="cal"/><br />
             <p class="titu"id="tit1">APPOINTMENT</p>
                   <p  class="text" id="txt1">
                    Appointment with Datepicker allow <br />
                    you to collect all the information about<br />
                    your audience. Get closer to<br />
                    customers and discover who are they.
                </p>

</div>
            <div class="caixa2">
                <img src="https://i.pinimg.com/originals/4d/c2/5a/4dc25a0f08a12e444bbf0432b9cb3253.png" class="cal" /><br />
                <p class="titu" id="tit2">PRICING TABLES
</p>
                <p class="text" id="txt2">
                    Outline your pricing policy with the<br />
                     help of tables. Customers will see the <br />
                    features of each pricing plan and <br />
                    compare them all with ease.

                </p>

            </div>
            <div class="caixa3">
                <img src="https://cdn6.aptoide.com/imgs/4/6/0/460e0a2d2f8e2f27ea966c5b4af29d1f_icon.png?w=240" class="cal" /><br />
                <p class="titu" id="tit3">
                    PARALLAX
                </p>
                <p class="text" id="txt3">
                    Outline your pricing policy with the<br />
                    help of tables. Customers will see the <br />
                    features of each pricing plan and <br />
                    compare them all with ease.

                </p>

            </div>
            <div class="caixa4">
                <img src="https://cdn6.aptoide.com/imgs/4/6/0/460e0a2d2f8e2f27ea966c5b4af29d1f_icon.png?w=240" class="cal" /><br />
                <p class="titu" id="tit4">
                    MEGA MENU
                </p>
                <p class="text" id="text4">
                    Outline your pricing policy with the<br />
                    help of tables. Customers will see the <br />
                    features of each pricing plan and <br />
                    compare them all with ease.
                </p>
                <div class="caixa5">
                    <p class="text" id="txt5">
                        <img src="https://cdn6.aptoide.com/imgs/4/6/0/460e0a2d2f8e2f27ea966c5b4af29d1f_icon.png?w=240" class="cal" /><br />
                    <p class="titu" id="tit5">
                        PARALLAX
                    </p>
                    <p class="text" id="txt5">
                        Outline your pricing policy with the<br />
                        help of tables. Customers will see the <br />
                        features of each pricing plan and <br />
                        compare them all with ease.

                    </p>
                </div>
            
            <div class="caixa6">
                <img src="https://cdn6.aptoide.com/imgs/4/6/0/460e0a2d2f8e2f27ea966c5b4af29d1f_icon.png?w=240" class="cal" /><br />
                <p class="titu" id="tit6">
                    PARALLAX
                </p>
                <p class="text" id="txt6">
                    Outline your pricing policy with the<br />
                    help of tables. Customers will see the <br />
                    features of each pricing plan and <br />
                    compare them all with ease.

                </p>
            </div>
                <div class="cinz">


                
                </div>
                <button id="butc">VIEW ALL ADDITIONAL FEATURES</button>
                </div>
            <p id="meet" >Meet Our Team</p>
            <p id="sub">We are a team of developers, designers and leads who love what they do.
</p>
            <div class="sublinhado"></div>
            <img id="img1" class="imag" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/team/team-1.jpg" />
            <img id="img2" class="imag" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/team/team-2.jpg" />
            <img id="img3" class="imag" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/team/team-3.jpg" />
            <img id="img4" class="imag" src="~/Aleatorias/teste.png" />
            <p class="nome" id="nome1">Jhon Doe</p>
            <p class="nome" id="nome2">July Mao</p>
            <p class="nome" id="nome3">Bernard Show</p>
            <p class="nome" id="nome4">Raphael Rodrigues</p>
            <p class="pos" id="pos1">Software Developer</p>
            <p class="pos" id="pos2">Support Operator</p>
            <p class="pos" id="pos3">Creative Director</p>
            <p class="pos" id="pos4">Lawyer</p>
            <div id="grad">
                <p id="grad-titulo">Our Partners</p>
                <p id="grad-text">
                    Join TemplateMonster Affiliate Program. Earn up to 50% commissions with TemplateMonster affiliate program. Anyone Can Become
                    <br /> an Affiliate. We want you to earn more!</p>
                    <img id="i1" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/partners/partner-image1.png" class="im"/>
                    <img id="i2" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/partners/partner-image2.png" class="im" />
                    <img id="i3" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/partners/partner-image3.png" class="im"/>
                    <img id="i4" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/partners/partner-image4.png"class="im" />

                
                 
            </div>
            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/parallax/parallax2.jpg" id="fundo" />
           <p id="fundo-what">What Clients Say?</p>
            <img class="fundo-boli" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/testimonials/testimonials-1.jpg" />
            <img class="fundo-boli" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/testimonials/testimonials-2.jpg" />
            <img class="fundo-boli" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/testimonials/testimonials-3.jpg" />
            <img class="fundo-boli" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/testimonials/testimonials-4.jpg" />
            <img class="fundo-boli" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/testimonials/testimonials-5.jpg" />
            <p id="fundo-texto">I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care 
         <br />   and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. 
            <br />Congratulations!</p>
            <p id="raphaeel">Raphael Barbosa Rodrigues
            <br />Número 32<br />
            INF22A
            </p>
         </div>
        <div class="fim-faixa">
            <img class="ho" id="fim-logo" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/logo.png" />
            <p id="fim-jedi">Jedi</p>
            <p id="fim-jedi2">MAY THE RAPHAEL BE WITH YOU</p>
            <p id="fim-late">LATEST FROM THE BLOG</p>
            <p id="fim-contact">CONTACT US</p>
            <p id="fim-add">Adress:</p>
            <p id="fim-text1">
                28 Jackson Blvd Ste<br />
                1020 Chicago<br />
                IL 60604-2340
            </p>
            <p id="fim-phone">Phone:</p>
            <p id="fim-text2">(11)97018-4963</p>
            <p id="fim-email">E-mail:</p>
            <p id="fim-text3">raphaelbarbosa.rodrigues@gmail.com</p>
            <div id="f">
                <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/facebook.png" id="fim-1" />
                <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/twitter.png" id="fim-bol2" />
                <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/google.png" id="fim-bol3" />
                <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/linkedin.png" id="fim-bol4" />
            </div>
            <div id="tumb">
                <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/blog/blog-thumb1.jpg" id="tumb1" />
                <br />  <br /> <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/blog/blog-thumb2.jpg" id="tumb2" />
                <br />   <br /><img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/blog/blog-thumb3.jpg" id="tumb3" />
            </div>
            <p class="data" id="fim-data1">
                09/04/2018
            </p>
            <p class="data" id="fim-data2">
                05/11/2001
            </p>
            <p class="data" id="fim-data3">
                11/05/2011
            </p>
            <div class="com">
                <p id="com1">
                    Demasiadamente interessante
                </p>
                <p id="com2">
                    Merece 10
                </p>
                <p id="com3">Bem louco</p>

            </div>
            <div class="fim-inputs">
                <input id="in1" placeholder="Your Name:ex:Raphael Barbosa Rodrigues" type="text" />
                <input id="in2" placeholder="Your Email:ex:raphaelbarbosa.rodrigues@gmail.com" type="text" />
                <input id="in3"placeholder="Message:ex:Quanto você cobra pra fazer o site?" type="text" />

            </div>
            <button class="bot"id="fim-fim">SUBMIT</button>
        </div>

        </div>
    
</body>
</html>
@*62226 template https://www.templatemonster.com/demo/jedi-multifunctional-joomla-template-62226.html*@<style>
    #blog {
        border-bottom: 5px dotted red;
    }
</style>