@{
    Layout = null;
}
<!DOCTYPE html>
<link href="~/CSS/CSS PG1.css" rel="stylesheet" />
<link href="~/CSS/CSS PG2.css" rel="stylesheet" />
<link rel="icon" href="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/logo.png" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="primeiraParte">
            <div class="cinza"></div>
            <p class="cab1" id="acc">ACCOUNT</p>
            <p class="cab1" id="reg">REGISTER</p>
            <p class="cab1" id="log">LOGIN</p>
            <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/facebook.png" id="bol1" />
            <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/twitter.png" id="bol2" />
            <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/google.png" id="bol3" />
            <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/linkedin.png" id="bol4" />
            <div class="ol">
                <img class="ho" id="logo" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/logo.png" />
                <p id="jedi">Jedi</p>
                <p id="jedi2">MAY THE RAPHAEL BE WITH YOU</p>

                <p class="cabe" id="home"><a href="~/Front/Default">HOME</a></p>
                <p class="cabe" id="features"><a href="~/Front/Features">FEATURES</a></p>
                <p class="cabe" id="pages"><a href="~/Front/Pages">PAGES</a></p>
                <p class="cabe" id="portfolio"><a href="~/Front/Port">PORTFOLIO</a></p>
                <p class="cabe" id="blog"<a href="~/Front/Blog">SHOP</a></p>
                <p class="cabe" id="shop"><a href="~/Front/Blog">BLOG</a></p>
                <img id="lupa" src="https://icon-icons.com/icons2/494/PNG/512/magnifier_icon-icons.com_48267.png" />
                <img src="https://us.123rf.com/450wm/sanek13744/sanek137441804/sanek13744180400166/99933673-paper-clouds-on-a-blue-sky-%C3%B0%C2%A1artoon-paper-cloud-illustration-background-cloudscape-air-business-conc.jpg?ver=6" id="seg" />
            </div>
            <img id="plan" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/slider/slide-5.jpg" />
            <p id="wel">WELCOME TO JEDI</p>
            <p id="why">Why Jedi? Because this theme was created through knowledge and training.<br />The best set of encunry modules and functionality for your website! </p>
            <p class="bot" id="autor"><a href="#">CLIQUE AQUI</a></p>
            <p id="esq"><</p>
            <div id="li"></div>
            <p id="dir">></p>
            <div id="li2"></div>

            <p id="meio-titulo">Jedi is the ultimate Joomla theme on TemplateMonster
</p>
            <p id="meio-texto">Jedi is the heart of all Joomla themes. Crafted with care, Jedi is your goal for building a multi functional site with the help of professional tools that are c
            <br />Comfortable and easy-to-use. Jedi provides you with a full freedom for embodiment your ideas with its fully responsive framework, mega attractive design,
             <br />effective support, and major customization options.

</p>

            <div class="faixa"></div>
            <p id="ma">May the Raphael be with you!</p>
            <button class="bot" id="buy"><img id="car" src="https://icon-icons.com/icons2/67/PNG/512/shoppingcart_compra_13339.png" /> BUY JEDI NOW</button>
            <div class="fim-faixa">
                <img class="ho" id="fim-logo" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/logo.png" />
                <p id="fim-jedi">Jedi</p>
                <p id="fim-jedi2">MAY THE RAPHAEL BE WITH YOU</p>
                <p id="fim-late">LATEST FROM THE BLOG</p>
                <p id="fim-contact">CONTACT US</p>
                <p id="fim-add">Adress:</p>
                <p id="fim-text1">
                    28 Jackson Blvd Ste<br />
                    1020 Chicago<br />
                    IL 60604-2340
                </p>
                <p id="fim-phone">Phone:</p>
                <p id="fim-text2">(11)97018-4963</p>
                <p id="fim-email">E-mail:</p>
                <p id="fim-text3">raphaelbarbosa.rodrigues@gmail.com</p>
                <div id="f">
                    <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/facebook.png" id="fim-bol1" />
                    <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/twitter.png" id="fim-bol2" />
                    <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/google.png" id="fim-bol3" />
                    <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/linkedin.png" id="fim-bol4" />
                </div>
                <div id="tumb">
                    <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/blog/blog-thumb1.jpg" id="tumb1" />
                    <br />  <br /> <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/blog/blog-thumb2.jpg" id="tumb2" />
                    <br />   <br /><img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/blog/blog-thumb3.jpg" id="tumb3" />
                </div>
                <p class="data" id="fim-data1">
                    09/04/2018
                </p>
                <p class="data" id="fim-data2">
                    05/11/2001
                </p>
                <p class="data" id="fim-data3">
                    11/05/2011
                </p>
                <div class="com">
                    <p id="com1">
                        Demasiadamente interessante
                    </p>
                    <p id="com2">
                        Merece 10
                    </p>
                    <p id="com3">Bem louco</p>

                </div>
                <div class="fim-inputs">
                    <input id="in1" placeholder="Your Name:ex:Raphael Barbosa Rodrigues" type="text" />
                    <input id="in2" placeholder="Your Email:ex:raphaelbarbosa.rodrigues@gmail.com" type="text" />
                    <input id="in3" placeholder="Message:ex:Quanto você cobra pra fazer o site?" type="text" />

                </div>
                <button class="bot" id="fim-fim">SUBMIT</button>
            </div>
        </div>
        </div>
</body>
</html>
<style>
    #blog {
        border-bottom: 5px dotted red;
    }
</style>