@{
    Layout = null;
}
<link href="~/CSS/CSS PG3.css" rel="stylesheet" />
<!DOCTYPE html>
<link href="~/CSS/CSS PG1.css" rel="stylesheet" /><link rel="icon" href="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/logo.png" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body id="bo">
    <div>
        <div class="primeiraParte">
            <div class="cinza"></div>
            <p class="cab1" id="acc">ACCOUNT</p>
            <p class="cab1" title="REGISTER" id="reg">REGISTER</p>
            <p class="cab1" id="log">LOGIN</p>
            <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/facebook.png" id="bol1" />
            <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/twitter.png" id="bol2" />
            <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/google.png" id="bol3" />
            <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/linkedin.png" id="bol4" />
            <div class="ol">
                <img class="ho" id="logo" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/logo.png" />
                <p id="jedi">Jedi</p>
                <p id="jedi2">MAY THE RAPHAEL BE WITH YOU</p>

                <p class="cabe" id="home"><a href="~/Front/Default">HOME</a></p>
                <p class="cabe" id="features"><a href="~/Front/Features">FEATURES</a></p>
                <p class="cabe" id="pages"><a href="~/Front/Pages">PAGES</a></p>
                <p class="cabe" id="portfolio"><a href="~/Front/Port">PORTFOLIO</a></p>
                <p class="cabe" id="blog"<a href="~/Views/Front/Blog">SHOP</a></p>
                <p class="cabe" id="shop"><a href="~/Front/Blog">BLOG</a></p>
                <img id="lupa" src="https://icon-icons.com/icons2/494/PNG/512/magnifier_icon-icons.com_48267.png" />
                <img src="https://us.123rf.com/450wm/sanek13744/sanek137441804/sanek13744180400166/99933673-paper-clouds-on-a-blue-sky-%C3%B0%C2%A1artoon-paper-cloud-illustration-background-cloudscape-air-business-conc.jpg?ver=6" id="seg" />
            </div>
            <div class="aa">Single Project</div>
            <Raphael id="new">New Advantages of Your Business With Jedi</Raphael>
            <iframe width="714" height="403" src="https://www.youtube.com/embed/w5H7l6lhxdg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="video1"></iframe>
            <p id="titt">Lorem Ipsum</p>
            <p id="te">
                "But I must explain to you how all <br />this mistaken idea of denouncing pleasure and <br />
                praising pain was born and I will give <br />you a complete account of the system, <br />
                and expound the actual teachings of <br />the great explorer of the truth, the master<br />
                -builder of human happiness. No one <br />rejects, dislikes, or avoids pleasure itself,<br />
                because it is pleasure, but because those<br /> who do not know how to pursue pleasure<br />
                rationally encounter consequences that <br />are extremely painful. Nor again is <br />


            </p>
            <p id="bb1" class="bol">•</p>
            <p id="bb2" style="float:left" class="bol">•</p>
            <p id="bb3" style="float:left" class="bol">•</p>
            <p id="bb4" style="float:left" class="bol">•</p>
            <img class="imag" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/page4-img1.jpg" id="mi1" />
            <p id="de">
                Debra Brooks
            </p>
            <p id="tx">
                Project Mangager<br />
                Jedi is your key to success if you appreciate history, high-quality, multi <br />
                functionality, and professionalism. It was born as a small startup and it became<br />
                a powerful source of experience and inspiration.<br />


            </p>

            <p id="tt">
                Related Projects
            </p>

            <img class="fu" onmouseover="cont1()" onmouseout="contt1()" id="fu1" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/folio/image1.jpg" />
            <img class="fu" onmouseover="cont2()" onmouseout="contt2()"id="fu2" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/folio/image2.jpg" />
            <img class="fu" onmouseover="cont3()" onmouseout="contt3()"id="fu3" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/folio/image3.jpg" />
            <img class="fu" onmouseover="cont4()" onmouseout="contt4()"id="fu4" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/folio/image4.jpg" />
            <p id="o1"  class="o">Personal Blog</p>
            <p id="o2" class="o">Personal Blog</p>
            <p id="o3" class="o">Personal Blog</p>
            <p id="o4" class="o">Personal Blog</p>














            <div class="fim-faixa">
                <img class="ho" id="fim-logo" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/logo.png" />
                <p id="fim-jedi">Jedi</p>
                <p id="fim-jedi2">MAY THE RAPHAEL BE WITH YOU</p>
                <p id="fim-late">LATEST FROM THE BLOG</p>
                <p id="fim-contact">CONTACT US</p>
                <p id="fim-add">Adress:</p>
                <p id="fim-text1">
                    28 Jackson Blvd Ste<br />
                    1020 Chicago<br />
                    IL 60604-2340
                </p>
                <p id="fim-phone">Phone:</p>
                <p id="fim-text2">(11)97018-4963</p>
                <p id="fim-email">E-mail:</p>
                <p id="fim-text3">raphaelbarbosa.rodrigues@gmail.com</p>
                <div id="f">
                    <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/facebook.png" id="fim-bol1" />
                    <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/twitter.png" id="fim-bol2" />
                    <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/google.png" id="fim-bol3" />
                    <img class="ho" src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/social/linkedin.png" id="fim-bol4" />
                </div>
                <div id="tumb">
                    <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/blog/blog-thumb1.jpg" id="tumb1" />
                    <br />  <br /> <img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/blog/blog-thumb2.jpg" id="tumb2" />
                    <br />   <br /><img src="https://livedemo00-joomla.template-help.com/joomla_prod-4375_v1/images/blog/blog-thumb3.jpg" id="tumb3" />
                </div>
                <p class="data" id="fim-data1">
                    09/04/2018
                </p>
                <p class="data" id="fim-data2">
                    05/11/2001
                </p>
                <p class="data" id="fim-data3">
                    11/05/2011
                </p>
                <div class="com">
                    <p id="com1">
                        Demasiadamente interessante
                    </p>
                    <p id="com2">
                        Merece 10
                    </p>
                    <p id="com3">Bem louco</p>

                </div>
                <div class="fim-inputs">
                    <input id="in1" placeholder="Your Name:ex:Raphael Barbosa Rodrigues" type="text" />
                    <input id="in2" placeholder="Your Email:ex:raphaelbarbosa.rodrigues@gmail.com" type="text" />
                    <input id="in3" placeholder="Message:ex:Quanto você cobra pra fazer o site?" type="text" />

                </div>
                <button class="bot" id="fim-fim">SUBMIT</button>
            </div>
        </div>
            @*</div>
    @{ 
        var str = "";
        Session["usuario"] = 
    }*@
</body>
</html>
<script>
    var n = 0;

    function contt1() {
        
            document.getElementById("o1").style.opacity = 1;
            n = 1;
       
    
    }
    function contt2() {

        document.getElementById("o2").style.opacity = 1;
        n = 1;


    }
    function contt3() {

        document.getElementById("o3").style.opacity = 1;
        n = 1;


    }
    function contt4() {

        document.getElementById("o4").style.opacity = 1;
        n = 1;


    }

    function cont1() {
      
            document.getElementById("o1").style.opacity = 0;
          
        
       
    }
    function cont2() {

        document.getElementById("o2").style.opacity = 0;



    }
    function cont3() {

        document.getElementById("o3").style.opacity = 0;



    }
    function cont4() {

        document.getElementById("o4").style.opacity = 0;



    }
    
    /*
    function cont2() {
        if (n == 0) {
            document.getElementById("o2").style.opacity = 0;
            n = 1;
        }
        if (n == 1) {
            document.getElementById("o2").style.opacity = 0;
            n = 0;
        }
    }

        function cont3() {
            if (n == 0) {
                document.getElementById("o3").style.opacity = 0;
                n = 1;
            } if (n == 1) {
                document.getElementById("o3").style.opacity = 0;
                n = 0;
            }
        }

        function cont4() {
            if (n == 0) {
                document.getElementById("o4").style.opacity = 0;
                n = 1;
            } if (n == 1) {
                document.getElementById("o4").style.opacity = 0;
                n = 0;
            }
        }*/

    
</script><style>
    #blog {
        border-bottom: 5px dotted red;
    }
</style>