@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link type="image/x-icon" rel="shortcut icon" href="https://png.icons8.com/ios/1600/add.png" />
    <meta name="viewport" content="width=device-width" />
    <title>Luana</title>
</head>
<body>
    <div>
        <img src="https://livedemo00.template-help.com/wt_prod-18959/images/logo-default-191x52.png" id="logo" />
        <div class="cab">
            <p id="home">HOME</p>
            <p id="about">ABOUT US</p>
            <p id="gallery">Gallery</p>
            <p id="pricing">PRICING</p>
            <p id="blog">BLOG</p>
            <p id="contact">Contact Us</p>
            <p id="pages">PAGES</p>
        </div>
        <div class="traço"></div>
        <img src="https://livedemo00.template-help.com/wt_prod-18959/images/slider-1-slide-1-1770x742.jpg" id="fundo" />
        <h1>Mobile App Development</h1>
        <p id="text2">Since our estabilishmente encunry,we have been delivering high-quality and sustainable <br /> software solutions for corporate purposes of worldwide businesses</p>
        <p id="bot1" class="bot">GET IN TOUCH</p>
        <img src="https://livedemo00.template-help.com/wt_prod-18959/images/index-1-415x592.jpg" id="pred" />
        <div class="caixa1" style="background-color:#ffffff;"></div>
        <p id="see">See All <br />Services</p>
        <p class="bot" id="bot2">ALL SERVICES</p>
        <img id="im1" src="~/Icon/Fone.PNG" />
        <img id="im2" src="~/Icon/Telefone.PNG" />
        <img id="im3" src="~/Icon/Upload.PNG" />
        <p class="tit" id="cor">
            CORPORATE SOLUTIONS
        </p>
        <p class="textos" id="txt1">
            Need specific software for your<br />
            company? We are
            <br />ready to develop it!

        </p>
        <p class="tit" id="call">CALL CENTER SOLUTIONS</p>
        <p class="tit" id="cloud">CLOUD DEVELOPMENT</p>
        <p class="textos" id="txt2">
            Our experts provide custom <br />products of any complexity for <br />call centers.

        </p>
        <p class="textos" id="txt3">
            We can also offer you reliable<br> cloud development solutions.

        </p>
        <p id="lat">
            <strong>Latest Projects</strong>
        </p>
        <p id="textlat">
            In our portfolio, you can browse the latest products developed<br />
            for our clients for different corporate purposes. Our qualified team of<br />
            interface designers and software develoers is always ready <br />
            to create something unique for you.

        </p>
        <p class="rand" id="rand1">ALL</p>
        <p class="rand" id="rand2">MOBILE APPS</p>
        <p class="rand" id="rand3">CUSTOM SOFTWARE</p>
        <p class="rand" id="rand4">QA & TESTING</p>
        <p class="rand" id="rand5">UX AND DESIGN</p>
        <img src="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-1-420x350.jpg" id="i1" />
        <img src="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-2-420x350.jpg" id="i2" />
        <img src="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-3-420x350.jpg" id="i3" />
        <img src="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-5-420x350.jpg" id="i4" />
        <img src="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-6-420x350.jpg" id="i5" />
        <img alt="Ola"src="https://livedemo00.template-help.com/wt_prod-18959/images/fullwidth-gallery-1-420x350.jpg" id="i6" />
        <div class="caix" id="text1">
            <p id="pro">   Project #1</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
            sed do eiusmod tempor incididunt ut labore et dolore magna <br />
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation<Br /> ullamco
            laboris nisi ut aliquip ex ea commodo consequat.  
        </div>
        <div class="caix" id="text22">
            <p id="pro">   Project #2</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
            sed do eiusmod tempor incididunt ut labore et dolore magna <br />
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation<Br /> ullamco
            laboris nisi ut aliquip ex ea commodo consequat.       </div>
        <div class="caix" id="text3">
            <p id="pro">   Project #3</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
            sed do eiusmod tempor incididunt ut labore et dolore magna <br />
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation<Br /> ullamco
            laboris nisi ut aliquip ex ea commodo consequat.        </div>
        <div class="caix" id="text4">
            <p id="pro">   Project #4</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
            sed do eiusmod tempor incididunt ut labore et dolore magna <br />
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation<Br /> ullamco
            laboris nisi ut aliquip ex ea commodo consequat.          </div>
        <div class="caix" id="text5">
            <p id="pro">   Project #5</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
            sed do eiusmod tempor incididunt ut labore et dolore magna <br />
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation<Br /> ullamco
            laboris nisi ut aliquip ex ea commodo consequat.          </div>
        <div class="caix" id="text6">
            <p id="pro">   Project #6</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br />
            sed do eiusmod tempor incididunt ut labore et dolore magna <br />
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation<Br /> ullamco 
            laboris nisi ut aliquip ex ea commodo consequat.        </div>
    </div>
   <p id="dez" style="color:#6059ba;">10</p>
    <p id="year">Years Of <Br />Experience</p>
    <p id="dream">DreamSoft is a team of highly <br />
    experienced app designers and<br />
     developers creating unique software for<br />
     you.
    <p id="get" class="bot">GET IN TOUCH</p>
    <p class="num"id="num1">2</p>
    <p class="num"id="num2">40 </p>
    <p class="num"id="num3">12</p>
    <p class="num"id="num4">160</p>
    <p class="tr" id="ver">|</p>
    <p class="tra" id="hor">|</p>
    <img src="https://livedemo00.template-help.com/wt_prod-18959/images/clients-9-270x117.png"  id="lo1" />
    <img src="https://livedemo00.template-help.com/wt_prod-18959/images/clients-10-270x117.png" id="lo2" />
    <img src="https://livedemo00.template-help.com/wt_prod-18959/images/clients-3-270x117.png" id="lo3" />
    <img src="https://livedemo00.template-help.com/wt_prod-18959/images/clients-11-270x117.png" id="lo4" />
    <select value="1">
        <option value="1">R</option>
    </select>
</body>
</html>
<link href="~/css.css" rel="stylesheet" />

