@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="pg1.css">
    <link rel="stylesheet" type="text/css" href="~/Front/pg1.css">
    <link href="~/Views/Front/pg1.css" rel="stylesheet" />
    <title></title>
    <meta charset="utf-8">
</head>
<body>
    <div id="tudo">
        <img src="https://www.rctheme.com/demo-html/hostcube/images/logo.png" id="logo">
        <p id="client">CLIENT LOGIN</p>
        <p id="zero">(0)</p>
        <div id="cabeçalho">
            <a id="home" class="cab" href="~/Front/Default">HOME</a>
            <a id="host" class="cab" href="~/Front/pg2">HOSTING</a>
            <a id="doma" class="cab" href="~/Front/pg3">DOMAINS</a>
        </div>
        <div id="azul">
            <p id="titulo">STARTER WEBSITE <br> PACKAGES</p>
            <p id="to">
                <span id="lara">>></span>	 Register, renew or transfer your domain<br>
                <span id="lara">>></span>	 Hundreds of new TLDs are now available to register<br>
                <span id="lara">>></span>	 Register, renew or transfer your domain<br>
                <span id="lara">>></span>	 Hundreds of new TLDs are now available to register<br>
            </p>
            <img src="https://www.rctheme.com/demo-html/hostcube/images/banner-image-3.png" id="pc" />
            <p id="get" class="botao">GET STARTED TODAY</p>
        </div>
        <input id="in1" class="input" placeholder="Registro e transferência" />

        <p id="send">SEND</p>
        <br>
        <div id="lgs">
            <img src="https://www.rctheme.com/demowhmcs/templates/hostcube/custom/images/website.png" id="l1" class="s" />
            <img src="https://www.rctheme.com/demowhmcs/templates/hostcube/custom/images/site.png" id="l2" class="s" />
            <img src="https://www.rctheme.com/demowhmcs/templates/hostcube/custom/images/online.png" id="l3" class="s" />
            <img src="https://www.rctheme.com/demowhmcs/templates/hostcube/custom/images/store.png" id="l4" class="s" />
            <img src="https://www.rctheme.com/demowhmcs/templates/hostcube/custom/images/space.png" id="l5" class="s" />


        </div>
        <br><br><br>
        <p id="hostt">
            <span id="linha1">	Host your </span> <span id="web"> website?</span><br><br>
            Not only do we offer a 100% free trial for the first month on any hosting package, we also have a variety of other great benefits!
        </p>
        <br><br><br><br>
        <div id="bb1">
            <span id="spee">	Speedy</span> <br><br>
            Lorem Ipsum has been the<br>
            industry's standard dummy <br>
            text ever since the 1500s.

        </div>
        <div id="bb2">
            <span id="spee">	Speedy</span> <br><br>
            Lorem Ipsum has been the<br>
            industry's standard dummy <br>
            text ever since the 1500s.

        </div>
        <div id="bb3">
            <span id="spee">	Speedy</span> <br><br>
            Lorem Ipsum has been the<br>
            industry's standard dummy <br>
            text ever since the 1500s.

        </div>
        <br><br><br>
        <p id="site">
            Website Security & Data Protection

            <br><br>
            <span id="lor">
                Lorem Ipsum is simply dummy text of the printing industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            </span>
        </p>
        <p id="shop" class="botao">Shop SSL Certificates</p>
        <br><br>
        <button type="submit" class="bot" id="bot1">Standard SSL Certificates</button>

        <button type="submit" class="bot" id="bot2">Extended Validation SSL CERTIFICATES</button>

        <button type="submit" class="bot" id="bot3">Distributed Denial of Service Protection</button>

        <button type="submit" class="bot" id="bot4">Full Server Security Audit</button>

        <br><br><br>
        <p id="hosttt">
            <span id="linha1">	Extra tools  as  <span id="web"> included with all packages</span> standard  </span><br><br>
            Building or managing a website doesn't need to be difficult, thanks to the following complementary software

        </p>

        <div id="c1" class="caixa">
            <p id="ic1" class="material-icons">do_not_disturb_on</p>
            <p id="speee">Speedy</p>
            <p id="texto">
                Lorem Ipsum has been the industry's<br>
                standard dummy text ever since the<br>
                1500s.


            </p>
        </div>

        <div id="c2" class="caixa">
            <p id="ic1" class="material-icons">
                enhanced_encryption
            </p>
            <p id="speee">Reliable</p>
            <p id="texto">
                Lorem Ipsum has been the industry's<br>
                standard dummy text ever since the<br>
                1500s.


            </p>
        </div>

        <div id="c3" class="caixa">
            <p id="ic1" class="material-icons">exposure</p>
            <p id="speee">Scalable</p>
            <p id="texto">
                Lorem Ipsum has been the industry's<br>
                standard dummy text ever since the<br>
                1500s.


            </p>
        </div>

        <div id="fim">
            <p id="b1">
                <span id="fim-tit">
                    Hosting
                </span><br><Br>
                VPS Servers<Br><Br>
                Dedicated Servers<Br><Br>
                Shared Hosting<Br><Br>
                Reseller Hosting<Br><Br>
                WordPress Hosting<Br>
            </p>

            <p id="b2">
                <span id="fim-tit">
                    Services
                </span><br><Br>
                Domain Names<br><Br>
                Domain Pricing<br><Br>
                Transfer Domain<br><Br>
                Office 365<br><Br>
                G-suite
            </p>


            <p id="b3">
                <span id="fim-tit">
                    Other Services
                </span><br><Br>
                Cloud Hosting<Br><Br>
                Business Email<Br><Br>
                Codeguard<Br><Br>
                SiteLock<Br><Br>
                SSL Certificates<Br>
            </p>

        </div>
    </div>
</body>
</html>