@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Views/Front/p3.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="p3.css">
    <link rel="stylesheet" type="text/css" href="~/Front/p3.css">
    <title></title>
    <meta charset="utf-8">
</head>
<body>

    <div id="tudo">
        <img src="https://www.rctheme.com/demo-html/hostcube/images/logo.png" id="logo">
        <p id="client">CLIENT LOGIN</p>
        <p id="zero">(0)</p>
        <div id="cabeçalho">
            <a id="home" class="cab" href="~/Front/Default">HOME</a>
            <a id="host" class="cab" href="~/Front/pg2">HOSTING</a>
            <a id="doma" class="cab" href="~/Front/pg3">DOMAINS</a>
        </div>
        <div id="azul">
            <p id="titulo">
                OFFICE 365

            </p>
            <p id="to">
                <span id="lara">>></span>	Office unlimited hostingaccounts to your own customers <br> for a fixed monthly fee
                <br><br>
                <span style="font-size:45px; color:white">
                    $ 24.99/Year
                </span>
            </p>
            <img src="https://www.rctheme.com/demo-html/hostcube/images/banner-image-3.png" id="pc" />
            <p id="get" class="botao">GET STARTED TODAY</p>
        </div>


        <p id="hostt">
            <span id="linha1">
                You can make money <span id="web"> with wordpress Hosting by</span><br> hosting your own

            </span> <br><br>
            Sell directly to your own , set your own  prices and package specifications and keep all the profit!

        </p>

        <div id="cc1">
            <p id="alp">
                Alpha wordpress

            </p>
            <p id="pre">
                $24.99

            </p>
            <p id="mon">
                Per Month

            </p>
            <p id="or" class="botao">ORDER TODAY</p>
        </div>


        <div id="cc2">
            <p id="alp">
                Alpha wordpress

            </p>
            <p id="pre">
                $24.99

            </p>
            <p id="mon">
                Per Month

            </p>
            <p id="or" class="botao">ORDER TODAY</p>
        </div>


        <div id="cc3">
            <p id="alp">
                Alpha wordpress

            </p>
            <p id="pre">
                $24.99

            </p>
            <p id="mon">
                Per Month

            </p>
            <p id="or" class="botao">ORDER TODAY</p>
        </div>


        <p id="hosttttt">
            <span id="linha1">
                Learn why we are an I
                <span id="web"> Industry Leading Provider of</span><br>  web hosting solutions

            </span> <br><br>
            With over 15 years experience of providing website hosting, we have established a reputation of leadership within the web hosting business

        </p>
        <img src="https://www.rctheme.com/demowhmcs/templates/hostcube/custom/images/dataracks.jpg" id="imm1" />

        <img src="https://www.rctheme.com/demowhmcs/templates/hostcube/custom/images/onsitetech.jpg" id="imm2" />

        <img src="https://www.rctheme.com/demowhmcs/templates/hostcube/custom/images/supportcenter.jpg" id="imm3" />

        <p id="oww">
            <span id="ow">	Owned Data Center</span><br><br>
            Lorem Ipsum is simply dummy text of the <br>
            printing and typesetting industry.<br>
            Lorem Ipsum has been the industry'<br>
            s standard dummy text ever since<br>
            the 1500s,
        </p>


        <p id="oww2">
            <span id="ow">	Owned Data Center</span><br><br>
            Lorem Ipsum is simply dummy text of the <br>
            printing and typesetting industry.<br>
            Lorem Ipsum has been the industry'<br>
            s standard dummy text ever since<br>
            the 1500s,
        </p>


        <p id="oww3">
            <span id="ow">	Owned Data Center</span><br><br>
            Lorem Ipsum is simply dummy text of the <br>
            printing and typesetting industry.<br>
            Lorem Ipsum has been the industry'<br>
            s standard dummy text ever since<br>
            the 1500s,
        </p>

        <div id="fim">
            <p id="b1">
                <span id="fim-tit">
                    Hosting
                </span><br><Br>
                VPS Servers<Br><Br>
                Dedicated Servers<Br><Br>
                Shared Hosting<Br><Br>
                Reseller Hosting<Br><Br>
                WordPress Hosting<Br>
            </p>

            <p id="b2">
                <span id="fim-tit">
                    Services
                </span><br><Br>
                Domain Names<br><Br>
                Domain Pricing<br><Br>
                Transfer Domain<br><Br>
                Office 365<br><Br>
                G-suite
            </p>


            <p id="b3">
                <span id="fim-tit">
                    Other Services
                </span><br><Br>
                Cloud Hosting<Br><Br>
                Business Email<Br><Br>
                Codeguard<Br><Br>
                SiteLock<Br><Br>
                SSL Certificates<Br>
            </p>

        </div>
    </div>

</body>
</html>