@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="pg2.css">
    <link rel="stylesheet" type="text/css" href="~/Front/pg2.css">
    <link href="~/Views/Front/pg2.css" rel="stylesheet" />
    <title></title>
    <meta charset="utf-8">
</head>
<body>
    <div id="tudo">
        <img src="https://www.rctheme.com/demo-html/hostcube/images/logo.png" id="logo">
        <p id="client">CLIENT LOGIN</p>
        <p id="zero">(0)</p>
        <div id="cabeçalho">
            <a id="home" class="cab" href="~/Front/Default">HOME</a>
            <a id="host" class="cab" href="~/Front/pg2">HOSTING</a>
            <a id="doma" class="cab" href="~/Front/pg3">DOMAINS</a>
        </div>
        <div id="azul">
            <p id="titulo">
                SHARED HOSTING
            </p>
            <p id="to">
                <span id="lara">>></span>	Shared unlimited hosting accounts to your own  <br> customers for a fixed monthly fee
                <br><br>
                <span style="font-size:45px; color:white">
                    $ 24.99/Year
                </span>
            </p>
            <img src="https://www.rctheme.com/demo-html/hostcube/images/banner-image-3.png" id="pc" />
            <p id="get" class="botao">GET STARTED TODAY</p>
        </div>
        <p id="hostt">
            <span id="linha1">
                You can make money
            </span> <span id="web"> with Shared Hosting</span><br><br>
            Sell directly to your own , set your own  prices and package specifications and keep all the profit!

        </p>


        <div id="c1" class="caixa">
            <p id="ic1" class="material-icons">do_not_disturb_on</p>
            <p id="speee">Speedy</p>
            <p id="texto">
                Lorem Ipsum has been the industry's<br>
                standard dummy text ever since the<br>
                1500s.


            </p>
        </div>

        <div id="c2" class="caixa">
            <p id="ic1" class="material-icons">
                enhanced_encryption
            </p>
            <p id="speee">Reliable</p>
            <p id="texto">
                Lorem Ipsum has been the industry's<br>
                standard dummy text ever since the<br>
                1500s.


            </p>
        </div>

        <div id="c3" class="caixa">
            <p id="ic1" class="material-icons">exposure</p>
            <p id="speee">Scalable</p>
            <p id="texto">
                Lorem Ipsum has been the industry's<br>
                standard dummy text ever since the<br>
                1500s.


            </p>
        </div>
        <div id="cinza">
            <p id="fre">
                <span id="ne">Frequently Asked Questions</span><br><br>
                Lorem Ipsum is simply dummy text of the printing and typesetting <br>industry. Lorem Ipsum has been the industry's standard dummy text <br>ever since the 1500s,<br><br><br>

                Lorem Ipsum is simply dummy text of the printing and typesetting <br>industry. Lorem Ipsum has been the industry's standard dummy text <br>ever since the 1500s, when an unknown printer took as<br><br>


            </p>
            <p id="sub" class="botao">Submit Your Questions</p>

            <button type="submit" class="bot" id="bot1">Standard SSL Certificates</button><br>

            <button type="submit" class="bot" id="bot2">Extended Validation SSL CERTIFICATES</button><br>

            <button type="submit" class="bot" id="bot3">Distributed Denial of Service Protection</button><br>

            <button type="submit" class="bot" id="bot4">Full Server Security Audit</button>
        </div>


        <p id="hosttttt">
            <span id="linha1">
                Shared hosting <span id="web">can Add Value to existing </span>businesses<br><span id="hosttt">

                    Building or managing a website doesn't need to be difficult, thanks to the following complementary software
                </span>

        </p>


        <div id="branco1">
            <img src="https://www.rctheme.com/demowhmcs/templates/hostcube/custom/images/website-designers.svg" id="im1" />
            <p id="des">
                Website Designers
            </p>
            <p id="rem">
                Lorem Ipsum is simply dummy <br>
                text of the printing and  <br>
                typesetting industry. <br>
                Lorem Ipsum has been  <br>
                he industry's standard  <br>
                dummy text ever since  <br>
                the 1500s, when an  <br>
                unknown printer took a


            </p>
        </div>


        <div id="branco2">
            <img src="https://www.rctheme.com/demowhmcs/templates/hostcube/custom/images/software-providers.svg" id="im1" />
            <p id="des">
                Software Providers

            </p>
            <p id="rem">
                Lorem Ipsum is simply dummy <br>
                text of the printing and  <br>
                typesetting industry. <br>
                Lorem Ipsum has been  <br>
                he industry's standard  <br>
                dummy text ever since  <br>
                the 1500s, when an  <br>
                unknown printer took a


            </p>
        </div>


        <div id="branco3">
            <img src="https://www.rctheme.com/demowhmcs/templates/hostcube/custom/images/organisations.svg" id="im1" />
            <p id="des">Organisations
            <p id="rem">
                Lorem Ipsum is simply dummy <br>
                text of the printing and  <br>
                typesetting industry. <br>
                Lorem Ipsum has been  <br>
                he industry's standard  <br>
                dummy text ever since  <br>
                the 1500s, when an  <br>
                unknown printer took a


            </p>
        </div>

        <div id="fim">
            <p id="b1">
                <span id="fim-tit">
                    Hosting
                </span><br><Br>
                VPS Servers<Br><Br>
                Dedicated Servers<Br><Br>
                Shared Hosting<Br><Br>
                Reseller Hosting<Br><Br>
                WordPress Hosting<Br>
            </p>

            <p id="b2">
                <span id="fim-tit">
                    Services
                </span><br><Br>
                Domain Names<br><Br>
                Domain Pricing<br><Br>
                Transfer Domain<br><Br>
                Office 365<br><Br>
                G-suite
            </p>


            <p id="b3">
                <span id="fim-tit">
                    Other Services
                </span><br><Br>
                Cloud Hosting<Br><Br>
                Business Email<Br><Br>
                Codeguard<Br><Br>
                SiteLock<Br><Br>
                SSL Certificates<Br>
            </p>

        </div>
    </div>
</body>
</html>