@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Default.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title></title>
</head>
<body>

    <div id="centraliz">
        <div id="gamb"></div>
        <p id="fast">FASTFIX <br> <ss>SERVICE CENTER</ss></p>
        <omg id="omg1" class="material-icons">format_align_center</omg>
        <p id="mon">
            Mon – Fri: 10AM – 7PM;<br>
            Sat – Sun: 10AM – 3PM
        </p>
        <omg id="omg2" class="material-icons">
            local_phone
        </omg>
        <p id="c">
            Call Us:<br><ss>
                (719) 445-2808
            </ss>
        </p>
        <div id="cabeçalho">

            <a href="~/Front/Default" id="h1" class="cabe">HOME</a>
            <a href="~/Front/pagina2" id="h2" class="cabe">ABOUT</a>
            <a href="~/Front/pagina3" id="h3" class="cabe">PAGES</a>
            <a href="~/Front/pagina4" id="h4" class="cabe">BLOG</a>
            <a href="#" id="h5" class="cabe">GALLERY</a>
            <a id="lg" href="#" class="material-icons">adjust</a>

        </div>
        <img src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/slider/slide-1.jpg" id="pc" />
        <div id="quadrado">
            <p id="rep">Repair Services<br> Tel:(719) 445-2808</p>
            <p id="high">HIGH-QUALITY AND FRIENDLY<br> SERVICES AT FAIR PRICES</p>
            <p id="we">We are excellent at upgrading and repairing all makes as well as virus removal, malware removal <br>and spyware removal.</p>
            <p id="b1" class="b">NEED EMERGENCY SERVICES?</p>
            <p id="b2" class="b">MORE INFORMATIONS</p>


        </div>
        <p id="how">
            HOW WE WORK
        </p>
        <p id="wee">
            WE WORK HARD TO GET YOU RECONNECTED AS QUICKLY AS POSSIBLE WITH A HIGH-QUALITY <br>SMARTPHONE AND TABLET REPAIR AT THE LOWEST PRICE
        </p>
        <img src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/page1-img1.jpg" id="im1" />
        <img src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/page1-img2.jpg" id="im2" />
        <img src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/page1-img3.jpg" id="im3" />


        <div id="q1">
            <p id="con">CONNECT WITH EXPERT</p>
            <p id="sub">
                Submit a request and we'll find a<Br>
                qualified repair expert near you in<Br>
                real time. After registering your<Br>
                request in our database...

            </p>
            <p id="view" class="b">VIEW DETAILS ></p>
        </div>



        <div id="q2">
            <p id="con">CONNECT WITH EXPERT</p>
            <p id="sub">
                Submit a request and we'll find a<Br>
                qualified repair expert near you in<Br>
                real time. After registering your<Br>
                request in our database...

            </p>
            <p id="view" class="b">VIEW DETAILS ></p>
        </div>



        <div id="q3">
            <p id="con">CONNECT WITH EXPERT</p>
            <p id="sub">
                Submit a request and we'll find a<Br>
                qualified repair expert near you in<Br>
                real time. After registering your<Br>
                request in our database...

            </p>
            <p id="view" class="b">VIEW DETAILS ></p>
        </div>

        <p id="what">WHAT WE DO?</p>

        <p id="bo1" class="material-icons">check_circle</p>
        <p id="bo2" class="material-icons">check_circle</p>
        <p id="bo3" class="material-icons">check_circle</p>


        <p id="p1" class="what-p">PC REPAIR</p>
        <p id="p2" class="what-p">LAPTOP REPAIR</p>
        <p id="p3" class="what-p">TABLE REPAIR</p>

        <p id="txt1" class="what-t">
            Personal computers are leading companions <br>for many people, even..
        </p>
        <p id="txt2" class="what-t">
            Our commitment to woarld class customer <br> service has made us the most respected.


        </p>
        <p id="txt3" class="what-t">
            It’s easy to fall in love with your tablet, as it <br>  offers the perfect combination...


        </p>

        <p id="bo4" class="material-icons">check_circle</p>
        <p id="bo5" class="material-icons">check_circle</p>
        <p id="bo6" class="material-icons">check_circle</p>
        <div id="bloco2">




            <p id="p1" class="what-p">
                SMARTPHONE REPAIR
            </p>
            <p id="p2" class="what-p">
                GAME CONSOLE REPAIR
            </p>
            <p id="p3" class="what-p">ON-SITE REPAIR</p>

            <p id="txt1" class="what-t">
                We have been providing professional <br> smartphone repair services for years...


            </p>
            <p id="txt2" class="what-t">
                Has your gaming life come to a <Br> halt because of faulty equipment?




            </p>
            <p id="txt3" class="what-t">
                Our network of more than 100 experts <br> go above and beyond to repair your iPad...




            </p>
        </div>



        <p id="bo7" class="material-icons">check_circle</p>
        <p id="bo8" class="material-icons">check_circle</p>
        <p id="bo9" class="material-icons">check_circle</p>
        <div id="bloco3">




            <p id="p1" class="what-p">
                SMARTPHONE REPAIR
            </p>
            <p id="p2" class="what-p">
                GAME CONSOLE REPAIR
            </p>
            <p id="p3" class="what-p">ON-SITE REPAIR</p>

            <p id="txt1" class="what-t">
                We have been providing professional <br> smartphone repair services for years...


            </p>
            <p id="txt2" class="what-t">
                Has your gaming life come to a <Br> halt because of faulty equipment?




            </p>
            <p id="txt3" class="what-t">
                Our network of more than 100 experts <br> go above and beyond to repair your iPad...




            </p>
        </div>
        <p id="bw" class="b">VIEW ALL SERVICES</p>

        <p id="oura">
            OUR ADVANTAGES
        </p>
        <p id="whe">
            Whether your iPhone 6 was in your pocket so it took a painful journey<br>
            to the ground without a parachute, or you just dropped your tablet in the<br>
            toilet, we can help you!

        </p>
        <p id="ourp">
            OUR PRIMARY MARKETS ARE:
        </p>
        <p id="lista">
            <span class="material-icons">check</span>		We doubled our warranty to 6 months<br><BR>
            <span class="material-icons">check</span>		We can’t fix your device<br><BR>
            <span class="material-icons">check</span>		We don’t want anything to go over your head<br><BR>
            <span class="material-icons">check</span>		The speed and efficiency of our work<br><BR>
            <span class="material-icons">check</span>		We always keep to our deadlines<br><BR>
            <span class="material-icons">check</span>		We provide alternate solutions<br><BR>
            <span class="material-icons">check</span>		Customer orientated thinking
        </p>


        <img src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/blog/blog-thumb8.jpg" id="he1" />

        <img src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/blog/blog-thumb1.jpg" id="he2" />
        <div id="filtro1"></div>
        <div id="filtro2"></div>
        <p id="vinte">24 HOUR <br> EMERGENCY SERVICE</p>
        <p id="vinte5">25 YEARS <br> EXPERIENCE</p>
        <p id="are">
            We are on the line 24 hour <br>
            because we understand that <br>
            our clients could need help <br>
            any time. Please contact us<br>
            and our emergency team will <br>
            be at your place to resolve the issue.

        </p>
        <p id="are2">
            Our company has a rich <Br>
            experience in welding
            services<Br> as we have been
            working since <Br>1992.
            We know what our
            clients<Br> need and we
            are always ready to <Br>
            meet any demand.



        </p>

        <p id="b-a" class="b">VIEW DETAILS</p>
        <p id="b-a2" class="b">VIEW DETAILS</p>
        <div id="azul">
            <p id="pro">
                PROFESSIONAL & FAST <br> REPAIR
            </p>
            <p id="fix">
                WE FIX EVERYTHING! WE CAN ASSURE YOU THAT WE HAVE SEEN IT ALL!
            </p>
            <p id="bott" class="b">VIEW DETAILS</p>
        </div>
        <p id="nem">
            OUR PROJECTS
        </p>
        <p id="nem-sub">
            WE LET OUR WORK SPEAK FOR ITSELF
        </p>
        <img id="nem1" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb1.jpg" />
        <img id="nem2" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb2.jpg" />
        <img id="nem3" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb3.jpg" />

        <div id="n2">
            <img id="nem4" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb4.jpg" />
            <img id="nem5" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb5.jpg" />
            <img id="nem6" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb6.jpg" />

        </div>
        <p id="nvie" class="b">VIEW ALL PROJECTS</p>

        <p id="whatt">
            TELL US ABOUT YOUR PROJECT
        </p>
        <input type="text" placeholder="Name" id="in1" class="input">
        <br><br><input type="text" placeholder="Phone" id="in2" class="input">
        <br><br><input type="text" placeholder="E-mail" id="in3" class="input">
        <br><br><input type="text" placeholder="Are You interested in a specific encunry?" id="in4" class="input"><br>
        <input type="text" placeholder="Message" id="in5" class="input">
        <p id="send" class="b">SEN MESSAGE</p>

        <div id="pretto">
            <p id="pretto-i1" class="large material-icons">local_phone</p>
            <p id="phone">
                Phone:<br>
                (719) 445-2808; (719) 445-2809
            </p>
            <p id="pretto-i2" class="material-icons">location_on</p>
            <p id="addre">
                Address:<br>
                4578 Marmora Road, Glasgow
            </p>
            <p id="pretto-i3" class="material-icons">email</p>
            <p id="email">
                E-mail:<br>
                info@demolink.org
            </p>
        </div>
        <div id="pre">
            <p id="dois">
                © 2018 Jetimpex, Inc and Web Templates Ltd. All Rights Reserved. <span id="sss">Privacy Policy</span>





            </p>
        </div>
    </div>
</body>
</html>
