@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/pg4.css" rel="stylesheet" />
    <title></title>
</head>
<body>
   

        <div id="centraliz">
            <div id="gamb"></div>
            <p id="fast">FASTFIX <br> <ss>SERVICE CENTER</ss></p>
            <omg id="omg1" class="material-icons">format_align_center</omg>
            <p id="mon">
                Mon – Fri: 10AM – 7PM;<br>
                Sat – Sun: 10AM – 3PM
            </p>
            <omg id="omg2" class="material-icons">
                local_phone
            </omg>
            <p id="c">
                Call Us:<br><ss>
                    (719) 445-2808
                </ss>
            </p>
            <div id="cabeçalho">

                <a href="~/Front/Default" id="h1" class="cabe">HOME</a>
                <a href="~/Front/pagina2" id="h2" class="cabe">ABOUT</a>
                <a href="~/Front/pagina3" id="h3" class="cabe">PAGES</a>
                <a href="~/Front/pagina4" id="h4" class="cabe">BLOG</a>
                <a href="#" id="h5" class="cabe">GALLERY</a>
                <a id="lg" href="#" class="material-icons">adjust</a>

            </div>

            <p id="nem">
                GALLERY
            </p>
          
            <img id="nem1" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb1.jpg" />
            <img id="nem2" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb2.jpg" />
            <img id="nem3" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb3.jpg" />

            <div id="n2">
                <img id="nem4" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb4.jpg" />
                <img id="nem5" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb5.jpg" />
                <img id="nem6" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb6.jpg" />

            </div>
            <p id="nvie" class="b">VIEW ALL PROJECTS</p>

            <div id="pretto">
                <p id="pretto-i1" class="large material-icons">local_phone</p>
                <p id="phone">
                    Phone:<br>
                    (719) 445-2808; (719) 445-2809
                </p>
                <p id="pretto-i2" class="material-icons">location_on</p>
                <p id="addre">
                    Address:<br>
                    4578 Marmora Road, Glasgow
                </p>
                <p id="pretto-i3" class="material-icons">email</p>
                <p id="email">
                    E-mail:<br>
                    info@demolink.org
                </p>
            </div>
            <div id="pre">
                <p id="dois">
                    © 2018 Jetimpex, Inc and Web Templates Ltd. All Rights Reserved. <span id="sss">Privacy Policy</span>





                </p>
            </div>

        </div>
</body>
</html>
