@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/pg2.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title></title>
</head>
<body>
    
        <div id="centraliz">
            <div id="gamb"></div>
            <p id="fast">FASTFIX <br> <ss>SERVICE CENTER</ss></p>
            <omg id="omg1" class="material-icons">format_align_center</omg>
            <p id="mon">
                Mon – Fri: 10AM – 7PM;<br>
                Sat – Sun: 10AM – 3PM
            </p>
            <omg id="omg2" class="material-icons">
                local_phone
            </omg>
            <p id="c">
                Call Us:<br><ss>
                    (719) 445-2808
                </ss>
            </p>
            <div id="cabeçalho">

                <a href="~/Front/Default" id="h1" class="cabe">HOME</a>
                <a href="~/Front/pagina2" id="h2" class="cabe">ABOUT</a>
                <a href="~/Front/pagina3" id="h3" class="cabe">PAGES</a>
                <a href="~/Front/pagina4" id="h4" class="cabe">BLOG</a>
                <a href="#" id="h5" class="cabe">GALLERY</a>
                <a id="lg" href="#" class="material-icons">adjust</a>

            </div>
            <p id="few">
                A FEW WORDS ABOUT
            </p>
            <p id="weldic">
                Weldica is the leading provider of specialty services to North America's process <br>industries. We pay attention to the unique technical and safety challenges that this <br>type of work involves.<br>
                <br><br>
                Our company was founded in 1956 as a local enterprise manufacturing various products and <br>providing services for other industrial companies. Focusing on long-term and sustainable <br>development concepts, today we are positioned to be a resource optimization expert in <br>Aerospace and Automotive Industries. The selection of products we produce includes a range <br>of pipe products, fittings, and all related supplies.
            </p>

            <p id="vieww" class="b">VIEW DETAIL</p>

            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/page2-img1.jpg" id="ard" />

            <p id="nem">
                OUR PROJECTS
            </p>
            <p id="nem-sub">
                WE LET OUR WORK SPEAK FOR ITSELF
            </p>
            <img id="nem1" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb1.jpg" />
            <img id="nem2" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb2.jpg" />
            <img id="nem3" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb3.jpg" />

            <div id="n2">
                <img id="nem4" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb4.jpg" />
                <img id="nem5" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb5.jpg" />
                <img id="nem6" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/portfolio/project-thumb6.jpg" />

            </div>
            <p id="nvie" class="b">VIEW ALL PROJECTS</p>

            <div id="azul">
                <p id="pro">
                    PROFESSIONAL & FAST <br> REPAIR
                </p>
                <p id="fix">
                    WE FIX EVERYTHING! WE CAN ASSURE YOU THAT WE HAVE SEEN IT ALL!
                </p>
                <p id="bott" class="b">VIEW DETAILS</p>
            </div>


            <p id="meet">
                MEET OUR TEAM

            </p>
            <p id="exper">
                EXPERIENCED AND SKILLED REPAIRMEN WILL FREE YOU FROM MANY PROBLEMS!

            </p>
            <img id="meet-im" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/team/team-1.jpg" />
            <img id="meet-im2" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/team/team-2.jpg" />
            <img id="meet-im3" src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/team/team-3.jpg" />

            <p id="jim">
                <span id="n1">JIM HARRIS</span><br><br>
                Jim has over 10 years of experience working as an <br>
                electrician here. Jim knows about plumbing everything <br>
                and even more!
            </p>


            <p id="jer">
                <span id="n1">
                    JEREMY SCOTT
                </span><br><br>
                Jeremy works as a painter for 4 years. He works<Br>
                with paint very delicate. Jeremy knows about<Br>
                everything and even more!

            </p>

            <p id="tom">
                <span id="n1">TOM ALLEN</span><br><br>
                Tom knows about plumbing everything and even more! He<Br>
                successfully completed apprenticeship program and<Br>
                got a plumber license in 2003.nows about plumbing <br>
                everything and even more!
            </p>

            <p id="workk">WE WORK WITH</p>
            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/partners/partner1.png" id="log1" />
            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/partners/partner2.png" id="log2" />
            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/partners/partner3.png" id="log3" />
            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/partners/partner4.png" id="log4" />
            <img src="https://livedemo00-joomla.template-help.com/joomla_prod-17802/images/partners/partner5.png" id="log5" />


            <div id="pretto">
                <p id="pretto-i1" class="large material-icons">local_phone</p>
                <p id="phone">
                    Phone:<br>
                    (719) 445-2808; (719) 445-2809
                </p>
                <p id="pretto-i2" class="material-icons">location_on</p>
                <p id="addre">
                    Address:<br>
                    4578 Marmora Road, Glasgow
                </p>
                <p id="pretto-i3" class="material-icons">email</p>
                <p id="email">
                    E-mail:<br>
                    info@demolink.org
                </p>
            </div>
            <div id="pre">
                <p id="dois">© 2018 Jetimpex, Inc and Web Templates Ltd. All Rights Reserved. <span id="sss">Privacy Policy</span>

            </div>
        </div>
</body>
</html>
