@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="~/css/pg3.css" rel="stylesheet" />
</head>
<body>

    <div id="centraliz">
        <div id="gamb"></div>
        <p id="fast">FASTFIX <br> <ss>SERVICE CENTER</ss></p>
        <omg id="omg1" class="material-icons">format_align_center</omg>
        <p id="mon">
            Mon – Fri: 10AM – 7PM;<br>
            Sat – Sun: 10AM – 3PM
        </p>
        <omg id="omg2" class="material-icons">
            local_phone
        </omg>
        <p id="c">
            Call Us:<br><ss>
                (719) 445-2808
            </ss>
        </p>
        <div id="cabeçalho">

            <a href="~/Front/Default" id="h1" class="cabe">HOME</a>
            <a href="~/Front/pagina2" id="h2" class="cabe">ABOUT</a>
            <a href="~/Front/pagina3" id="h3" class="cabe">PAGES</a>
            <a href="~/Front/pagina4" id="h4" class="cabe">BLOG</a>
            <a href="#" id="h5" class="cabe">GALLERY</a>
            <a id="lg" href="#" class="material-icons">adjust</a>

        </div>
        <div id="cinza">Home | Pages | FAQs</div>

        <p id="fre">
            <span id="fr">FREQUENTLY ASKED QUESTIONS</span> <br><br>
            IF YOU NEED HELP, WE HAVE A LIST OF FREQUENTLY ASKED QUESTIONS AND ANSWERS. WE STRIVE TO <br>GIVE YOU THE BEST BUYING EXPERIENCE POSSIBLE. CLICK A QUESTION BELOW TO VIEW THE ANSWER.
        </p>

        <p id="can">
            <span id="change">1. HOW CAN I CHANGE SOMETHING IN MY ORDER?</span><br>
            If you need to change something your order, please contact us immediately. We usually process orders within 2-4 hours, and once we have processed your order, we will be unable to make any changes.
        </p>

        <p id="change2">
            2. HOW CAN I PAY FOR MY ORDER?<br /><br />
            3. CAN I TRACK MY ORDER?<br /><br />
            4. CAN I RETURN AN ITEM?<br /><br />
            5. HOW LONG WILL MY ORDER TAKE TO BE DELIVERED?<br /><br />
            6. DO I NEED AN ACCOUNT AND WHAT ARE THE BENEFITS?<br /><br />
        </p>


        <div id="pretto">
            <p id="pretto-i1" class="large material-icons">local_phone</p>
            <p id="phone">
                Phone:<br>
                (719) 445-2808; (719) 445-2809
            </p>
            <p id="pretto-i2" class="material-icons">location_on</p>
            <p id="addre">
                Address:<br>
                4578 Marmora Road, Glasgow
            </p>
            <p id="pretto-i3" class="material-icons">email</p>
            <p id="email">
                E-mail:<br>
                info@demolink.org
            </p>
        </div>
        <div id="pre">
            <p id="dois">
                © 2018 Jetimpex, Inc and Web Templates Ltd. All Rights Reserved. <span id="sss">Privacy Policy</span>





            </p>
        </div>
    </div>
</body>
</html>
