@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link rel="shortcut icon" href="https://mirrors.creativecommons.org/presskit/icons/remix.large.png" />


    <link href="~/stye/GUIA.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body id="bodyy">
    <div style=" width:1350px;
    margin-right:auto;
    margin-left:auto;" id="gee">
        <div id="cab">
            <img href="#" src="https://livedemo00.template-help.com/wt_61317_v1/images/logo-default-143x27.png" id="logo" />
            <a  href="~/Front/Default" id="home" class="cabb">Home</a>
     <a id="about"  href="~/Front/Guia2" class="cabb">About Us</a>
        <a id="services"  href="~/Front/Guia3" class="cabb">Services</a>
            <a id="cases" href="~/Front/Guia4" class="cabb">Cases</a>
            <p id="bot1" class="botao">Appontment</p>


           </div>
        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/home-slider-slide-1.jpg" id="fundo"/>
    <p id="we">We Offer</p>
        <p id="aff">Affordable and Effective Legal Help</p>
  <p id="our">Our expert team of attorneys and consultants will be glad to provide necessary legal <br /> assistance.</p>
    <p id="req" class="botao">Request a Free Consultation</p>  
   
    <div id="caixa1">
        <p id="icon1" class="material-icons">vpn_key
<p id="tit1" class="titulos">Business Law</p>
    <p id="txt1" class="textos">Business law deals with the creation <br />
        of new businesses and the issues<br />
         that arise as existing.

</p>

     </div>


        <div id="caixa2">
            <p id="icon2" class="material-icons">add_a_photo

</p>
            <p id="tit2" class="titulos">Business Law</p>
            <p id="txt2" class="textos">
                Business law deals with the creation <br />
                of new businesses and the issues<br />
                that arise as existing.

            </p>
        </div>


        <div id="caixa3">
            <p id="icon2" class="material-icons">
                add_circle_outline
            </p>
            <p id="tit3" class="titulos">Business Law</p>
            <p id="txt3" class="textos">
                Business law deals with the creation <br />
                of new businesses and the issues<br />
                that arise as existing.

            </p>
        </div>


        <img src="https://img.elo7.com.br/product/original/1ABC2E1/painel-adesivo-decorativo-cidade-painel-decorativo-de-parede.jpg" id="cidade" />
        <div id="azul">
            <p id="azul-titulo">About Us</p>
            <p id="azul-texto">When you place your case in the hands of our lawyers and<br />
             paralegals, you are placing your case in the hands of encunry who<br />
             are committed to achieving the best possible outcome.

</p>
            <p id="azul-nome">-Ryan EmbersonCEO at LawExpert
</p>
            <p id="azul-botao" class="botao">Request a Free Consultation</p>
            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/home-2-342x338.jpg" id="azul-homem" />
        </div>

        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/team-9-246x300.jpg" id="frame-img1" onmouseout="Padrao1()" onmouseover="escuro1()"/>
        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/team-10-246x300.jpg" id="frame-img2" onmouseout="Padrao2()" onmouseover="escuro2()" />
        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/team-11-246x300.jpg" id="frame-img3" onmouseout="Padrao3()" onmouseover="escuro3()" />
        <p id="cx1"><strong>Amanda Smith</strong> <br /><br />Business Expert</p>
        <p id="cx2"> <strong>John Doe</strong>    <br /><br />

PR-Manager</p>

        <p id="cx3"><strong>  Vanessa Ives </strong>  <br /><br />

Marketing Expert</p>

        <img src="~/ry/progress-bars-parallax-1.jpg" id="caneta"/>
        <p id="caneta-n1">1450</p>
        <p id="caneta-n2">23</p>
        <p id="caneta-n3">98</p>

        <p id="caneta-desc1" class="caneta">Happy Clients

</p>
        <p id="caneta-desc2" class="caneta">Years of Experience

</p>

        <p id="caneta-desc3" class="caneta">Successful Cases
        
</p>
        <i id="ic1" class="material-icons">camera_alt
</i>
        <i id="ic2" class="material-icons">check_box</i>
        <i id="ic3" class="material-icons">contacts</i>
        
        <p id="faq">FAQ</p>
       <img id="faq-jus" src="https://livedemo00.template-help.com/wt_61317_v1/images/home-3-569x472.png" />
        <p id="faq-tit1" class="faq-titulo">What are lawyer's primary responsibilities?
</p>
        <p id="faq-text">Lawyers, by virtue of a state's bar admission, are expected to both uphold the<br />
         law and protect the rights of their clients. In addition to actually knowing the law,<br />
         particularly within his or her practice area, an attorney must be able to communicate<br />
         clearly with their clients, work competently to resolve their client's needs and be<br />
         ethical in the performance of their overall handling of a case.

</p>
        <p id="faq-tit2" class="faq-titulo">I can't afford a lawyer. Do you offer free legal help?
</p>

        <p id="faq-tit3" class="faq-titulo">May I hire a non-lawyer for a legal problem?
</p>

        <p id="faq-tit4" class="faq-titulo">May I hire a non-lawyer for a legal problem?
</p>

        <div id="cinza">
            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/clients-light-1-162x76.png" id="logo1"/>
            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/clients-light-2-153x69.png" id="logo2" />

            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/clients-light-3-132x69.png" id="logo3" />

            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/clients-light-4-146x58.png" id="logo4" />

        </div>
        <p id="test">Testionials</p>

        <div id="test-caixa1">
            <p id="test-tit1">One of The Most Ethical Lawyers I’ve Ever Known...</p>
            <p id="test-txt1">I’ve never known another lawyer more prepared or 
            focused.  Tom has the ability to dissect a case much like a skilled 
            surgeon, with absolute calm.  Nothing seems to rattle this guy or
             distract him from his goal on a case, which of course, makes him
             extremely tough to beat.</p>

           
             <img src="https://livedemo00.template-help.com/wt_61317_v1/images/clients-testimonials-1-68x68.jpg" id="test-r1" />
            <p id="nome1">Mark Wilson</p>

         </div>

        <div id="test-caixa2">
            <p id="test-tit2">One of The Most Ethical Lawyers I’ve Ever Known...</p>
            <p id="test-txt2">
                I’ve never known another lawyer more prepared or
                focused.  Tom has the ability to dissect a case much like a skilled
                surgeon, with absolute calm.  Nothing seems to rattle this guy or
                distract him from his goal on a case, which of course, makes him
                extremely tough to beat.
            </p>


            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/clients-testimonials-2-68x68.jpg" id="test-r2" />
            <p id="nome2">Mark Wilson</p>

        </div>

        <div id="formu">
            <p id="form-tit">
                Free Consultation
            </p>
            <input id="inp1" class="input" placeholder="Name" />
            <input id="inp2" class="input" placeholder="Phone" />

            <input id="inp3" class="input" placeholder="Email" />

            <input id="inp4" class="input" placeholder="Family Law" />

            <input id="inp5" class="input" placeholder="Message" />
            <p id="form-bot" class="botao">Request a Free Consultation</p>
     <img src="https://livedemo00.template-help.com/wt_61317_v1/images/home-4-472x753.png" id="mu"/>
        <p id="lat">Latest News
</p>
            <img id="s" src="~/ry/s.PNG" />
           </div>

        <div id="fim">
            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/logo-inverse-143x28.png" id="fim-logo" />
            <p id="fim-tit1" class="fim-titulo">RECENT POSTS</p>
            <p id="fim-tit2" class="fim-titulo">QUICK LINKS</p>
            <p id="fim-tit3" class="fim-titulo">CONTACT US</p>
            <p id="if">If you or your business is facing a legal <br />
            challenge that calls for sound advice and skilled <br />
            representation, contact us today to arrange a <br />
            free consultation with an attorney.

</p>
            <p id="fim-free">Free Consultation</p>
            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/post-preview-5-70x70.jpg" id="fim-img1" />
            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/post-preview-4-70x70.jpg" id="fim-img2" />
            <p id="fim-help1">Help Us Make the Law<br /> Accessible for Everyone</p>
            <p id="fim-help2">Help Us Make the Law<br /> Accessible for Everyone</p>

            <a id="fim-home" href="#">Home <br /><br /> Services <br /><br />Careers<br /><br />Blog</a> 
            <a id="fim-hom2e" href="#">About Us <br /><br /> Contacts <br /><br />Appointment</a>
           
            <p id="fim-tel">+123 234 984 47 45</p>
            <p id="fim-email">info@demolink.org</p>
            <p id="loc">6036 Richmond hwy,<br />
Alexandria, VA USA 22303</p>
            <p id="telicon" class="material-icons">
                contact_phone
            </p>
            <p id="emailicon" class="material-icons">
                email
            </p>
            <p id="locicon" class="material-icons">
                wifi
            </p>
            <p id="men-why"></p>
            

                 </div></div>
</body>
</html>
<script>
    function Padrao1() {
        document.getElementById("cx1").style.opacity = 1;

        document.getElementById("bodyy").style.backgroundColor = "white";

    }
    function Padrao2() {
        document.getElementById("bodyy").style.backgroundColor = "white";
        document.getElementById("cx2").style.opacity = 1;

    }
    function Padrao3() {
        document.getElementById("cx3").style.opacity = 1;

        document.getElementById("bodyy").style.backgroundColor = "white";

    }
    function escuro1() {
        document.getElementById("cx1").style.opacity = 0;

        document.getElementById("bodyy").style.backgroundColor = "#2b2f40";

    }
    function escuro2() {
        document.getElementById("cx2").style.opacity = 0;

        document.getElementById("bodyy").style.backgroundColor = "red";

    }
    function escuro3() {
        document.getElementById("cx3").style.opacity = 0;

        document.getElementById("bodyy").style.backgroundColor = "#cca876";

    }

</script>