@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="shortcut icon" href="https://mirrors.creativecommons.org/presskit/icons/remix.large.png" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/stye/GUIA4.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div id="g4">

        <div id="cab">
            <img href="#" src="https://livedemo00.template-help.com/wt_61317_v1/images/logo-default-143x27.png" id="logo" />
            <a href="~/Front/Default" id="home" class="cabb">Home</a>
            <a id="about" href="~/Front/Guia2" class="cabb">About Us</a>
            <a id="services" href="~/Front/Guia3" class="cabb">Services</a>
            <a id="cases" href="~/Front/Guia4" class="cabb">Cases</a>
            <p id="bot1" class="botao">Appontment</p>
        </div>

        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/bg-image-2.jpg" id="ab" />
        <p id="abo1" class="ab">Gallery</p>
        <p id="abo2" class="ab">Gallery</p>
        <p id="abo3" class="ab">Gallery</p>

        <div id="sub">
        <p class="sub" id="s1">ALL</p>
        <p class="sub" id="s2">Advertising Law</p>
        <p class="sub" id="s3">Insurance Law</p>
        <p  class="sub" id="s4">Education Law</p>
        </div>
        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/gallery-grid-1-370x278.jpg" class="ruim" id="r1"/>
        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/gallery-grid-2-370x278.jpg" class="ruim" id="r2" />

        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/gallery-grid-3-370x278.jpg" class="ruim" id="r3" />

        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/gallery-grid-4-370x278.jpg" class="ruim" id="r4" />

        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/gallery-grid-5-370x278.jpg" class="ruim" id="r5" />

        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/gallery-grid-6-370x278.jpg" class="ruim" id="r6" />


        <div id="fim">
            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/logo-inverse-143x28.png" id="fim-logo" />
            <p id="fim-tit1" class="fim-titulo">RECENT POSTS</p>
            <p id="fim-tit2" class="fim-titulo">QUICK LINKS</p>
            <p id="fim-tit3" class="fim-titulo">CONTACT US</p>
            <p id="if">
                If you or your business is facing a legal <br />
                challenge that calls for sound advice and skilled <br />
                representation, contact us today to arrange a <br />
                free consultation with an attorney.

            </p>
            <p id="fim-free">Free Consultation</p>
            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/post-preview-5-70x70.jpg" id="fim-img1" />
            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/post-preview-4-70x70.jpg" id="fim-img2" />
            <p id="fim-help1">Help Us Make the Law<br /> Accessible for Everyone</p>
            <p id="fim-help2">Help Us Make the Law<br /> Accessible for Everyone</p>

            <a id="fim-home" href="#">Home <br /><br /> Services <br /><br />Careers<br /><br />Blog</a>
            <a id="fim-hom2e" href="#">About Us <br /><br /> Contacts <br /><br />Appointment</a>

            <p id="fim-tel">+123 234 984 47 45</p>
            <p id="fim-email">info@demolink.org</p>
            <p id="loc">
                6036 Richmond hwy,<br />
                Alexandria, VA USA 22303
            </p>
            <p id="telicon" class="material-icons">
                contact_phone
            </p>
            <p id="emailicon" class="material-icons">
                email
            </p>
            <p id="locicon" class="material-icons">
                wifi
            </p>

        </div>
        </div>
</body>
</html>
