@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/stye/GUIA2.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link rel="shortcut icon" href="https://mirrors.creativecommons.org/presskit/icons/remix.large.png" />


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="ge2">
        <div id="cab">
            <img href="#" src="https://livedemo00.template-help.com/wt_61317_v1/images/logo-default-143x27.png" id="logo" />
            <a href="~/Front/Default" id="home" class="cabb">Home</a>
            <a id="about" href="~/Front/Guia2" class="cabb">About Us</a>
            <a id="services" href="~/Front/Guia3" class="cabb">Services</a>
            <a id="cases" href="~/Front/Guia4" class="cabb">Cases</a>
            <p id="bot1" class="botao">Appontment</p>
        </div>
        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/bg-image-1.jpg" id="ab" />
        <p id="abo1" class="ab">About Us</p>
        <p id="abo2" class="ab">About Us</p>
        <p id="abo3" class="ab">About Us</p>


        <p id="who">Who We Are</p>
        <p id="who-we">
            We do not see ourselves simply as 'lawyers' but will always strive to be our<br />
            clients' trusted adviser whether that be in a commercial or personal <br />
            context. We provide additional services well beyond those that might be <br />
            expected of a law firm.
            <br /><br />
            Our core values are integrity and trust, the encouragement of innovation,<br />
            teamwork and the continuing personal development of everyone at the <br />
            firm.


        </p>
        <p id="ado" class="gra">Adoption Law</p>
        <p id="ado2" class="gra">Family Law</p>
        <p id="ado3" class="gra">Real Estate Law</p>
        <p id="ado4" class="gra">Personal Injury Law</p>
        <div class="gr" id="gr1">80%</div>
        <div class="gr" id="gr2">100%</div>
        <div class="gr" id="gr3">40%</div>
        <div class="gr" id="gr4">70%</div>


        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/team-9-246x300.jpg" id="frame-img1" onmouseout="Padrao1()" onmouseover="escuro1()" />
        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/team-10-246x300.jpg" id="frame-img2" onmouseout="Padrao2()" onmouseover="escuro2()" />
        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/team-11-246x300.jpg" id="frame-img3" onmouseout="Padrao3()" onmouseover="escuro3()" />
        <p id="cx1"><strong>Amanda Smith</strong> <br /><br />Business Expert</p>

        <p id="cx2">
            <strong>John Doe</strong>    <br /><br />

            PR-Manager
        </p>

        <p id="cx3">
            <strong>  Vanessa Ives </strong>  <br /><br />

            Marketing Expert
        </p>
        <p id="bot8" class="botao">Request a Lawyer</p>

        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/clients-testimonials-parallax-1.jpg" id="par" />
        <p id="par-what">
            What People Say
        </p>
        <p id="par-text">
            We have been very pleased with our experience with the LawExpert. Although we did not <br />
            court, I felt that Jane was more than ready to fight her best for us. Our whole experience with all of the <br />
            staff was very easy and enjoyable. Thank you for your work!
        </p>
   
    <p id="par-nome">San Encunry</p>
    <p id="par-pos">FreeLancer</p>
    <p id="why">Why Choose Us</p>
    <p class="wh" id="why-tit1">Our Beliefs</p>
    <p class="whh" id="why-text">
        Our firm is like family. We truly believe that each <br />
        case is someone’s life and we need to treat it as such.
    </p>
    <p class="wh" id="why-tit2">Rich Experience</p>
    <p class="whh" id="why-text2">
        Our firm is like family. We truly believe that each <br />
        case is someone’s life and we need to treat it as such.
    </p>

    <p class="wh" id="why-tit3">Great Results</p>
    <p class="whh" id="why-text3">
        Our firm is like family. We truly believe that each <br />
        case is someone’s life and we need to treat it as such.
    </p>
    <img src="https://livedemo00.template-help.com/wt_61317_v1/images/about-1-670x578.png" id="men" />
    <i class="material-icons" id="icc1">
        call_to_action
    </i>
    <i class="material-icons" id="icc2">
        assignment_turned_in

    </i>
    <i class="material-icons" id="icc3">
        book
    </i>

    <img src="~/ry/progress-bars-parallax-1.jpg" id="caneta" />
    <p id="caneta-n1">1450</p>
    <p id="caneta-n2">23</p>
    <p id="caneta-n3">98</p>

    <p id="caneta-desc1" class="caneta">
        Happy Clients

    </p>
    <p id="caneta-desc2" class="caneta">
        Years of Experience

    </p>

    <p id="caneta-desc3" class="caneta">
        Successful Cases

    </p>
    <i id="ic1" class="material-icons">
        camera_alt
    </i>
    <i id="ic2" class="material-icons">check_box</i>
    <i id="ic3" class="material-icons">contacts</i>

    <div id="fim">
        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/logo-inverse-143x28.png" id="fim-logo" />
        <p id="fim-tit1" class="fim-titulo">RECENT POSTS</p>
        <p id="fim-tit2" class="fim-titulo">QUICK LINKS</p>
        <p id="fim-tit3" class="fim-titulo">CONTACT US</p>
        <p id="if">
            If you or your business is facing a legal <br />
            challenge that calls for sound advice and skilled <br />
            representation, contact us today to arrange a <br />
            free consultation with an attorney.

        </p>
        <p id="fim-free">Free Consultation</p>
        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/post-preview-5-70x70.jpg" id="fim-img1" />
        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/post-preview-4-70x70.jpg" id="fim-img2" />
        <p id="fim-help1">Help Us Make the Law<br /> Accessible for Everyone</p>
        <p id="fim-help2">Help Us Make the Law<br /> Accessible for Everyone</p>

        <a id="fim-home" href="#">Home <br /><br /> Services <br /><br />Careers<br /><br />Blog</a>
        <a id="fim-hom2e" href="#">About Us <br /><br /> Contacts <br /><br />Appointment</a>

        <p id="fim-tel">+123 234 984 47 45</p>
        <p id="fim-email">info@demolink.org</p>
        <p id="loc">
            6036 Richmond hwy,<br />
            Alexandria, VA USA 22303
        </p>
        <p id="telicon" class="material-icons">
            contact_phone
        </p>
        <p id="emailicon" class="material-icons">
            email
        </p>
        <p id="locicon" class="material-icons">
            wifi
        </p>

       
    </div>
    </div>


</body>
</html>

<script>

    function Padrao1() {
        document.getElementById("cx1").style.opacity = 1;

        document.getElementById("bodyy").style.backgroundColor = "white";

    }
    function Padrao2() {
        document.getElementById("cx2").style.opacity = 1;

        document.getElementById("bodyy").style.backgroundColor = "red";

    }
    function Padrao3() {
        document.getElementById("cx3").style.opacity = 1;

        document.getElementById("bodyy").style.backgroundColor = "white";

    }
    function escuro1() {
        document.getElementById("cx1").style.opacity = 0;

        document.getElementById("bodyy").style.backgroundColor = "#2b2f40";

    }
    function escuro2() {
        document.getElementById("cx2").style.opacity = 0;

        document.getElementById("bodyy").style.backgroundColor = "red";

    }
    function escuro3() {
        document.getElementById("cx3").style.opacity = 0;

        document.getElementById("bodyy").style.backgroundColor = "#cca876";

    }

</script>