@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn.onlinewebfonts.com/svg/img_451982.png" />

    <link href="~/stye/GUIA3.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="ge3">
        <div id="cab">
            <img href="#" src="https://livedemo00.template-help.com/wt_61317_v1/images/logo-default-143x27.png" id="logo" />
            <a href="~/Front/Default" id="home" class="cabb">Home</a>
            <a id="about" href="~/Front/Guia2" class="cabb">About Us</a>
            <a id="services" href="~/Front/Guia3" class="cabb">Services</a>
            <a id="cases" href="~/Front/Guia4" class="cabb">Cases</a>
            <p id="bot1" class="botao">Appontment</p>
        </div> 

        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/bg-image-1.jpg" id="ab" />
        <p id="abo1" class="ab">Services</p>
        <p id="abo2" class="ab">Services</p>
        <p id="abo3" class="ab">Services</p>

        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/services-1-570x537.png" id="men" />

        <p id="you">You Can Trust Us
</p>
        <p id="every">Every case is different. Past results are in no way intended to imply that <br />
        a similar result can be obtained in a case. But past results do indicate a firm’s <br />
        experience when it comes to serious catastrophic injury and wrongful death cases.<br />
         Our attorneys represent clients in a variety of practice areas, including car <br />
        accident, birth injury, brain injury, defective product, drug injury, motorcycle <br />
        accident, nursing home abuse, personal injury, Social Security disability, spinal<br />
         cord injury, traffic ticket, truck accident, and much more.

</p>
        <p id="read" class="botao">Read More</p>
        <p id="our2">
            Our Clients
        </p>
        <p id="text-our2">
            Results are only successful when we  make a difference in
            <br>
            your life. We’ll help you get the money and benefits.
        </p>
        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/clients-3-132x83.png" id="log1" />
        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/clients-4-169x68.png" id="log2" />

        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/clients-5-141x88.png" id="log3" />

        <img src="https://livedemo00.template-help.com/wt_61317_v1/images/clients-6-138x55.png" id="log4" />
       
        
         <img src="https://livedemo00.template-help.com/wt_61317_v1/images/clients-parallax-1.jpg" id="ad" />
       
        <p id="ad-our">Our Services
</p>
        <p id="ad-titu">Our practice has an extensive history of long-standing relationships 
        with law firm clients <br />built on integrity, first-rate service, timely delivery and relevant advice.

</p>
         <p id="ad-icon1" class="material-icons">cake</p>
        <p id="ad-icon2" class="material-icons">card_travel
</p>

        <p id="ad-icon3" class="material-icons">casino</p>
        <p id="ad-tit1" class="ad-tit">Advertising Law
</p>
        <p id="ad-tit2" class="ad-tit">Oil & Gas Law
</p>
        <p id="ad-tit3" class="ad-tit">Insurance Law
</p>

        <p id="ad-txt1" class="ad-txt">Sports is a multibillion-dollar global industry enjoying 
       <br /> unprecedented growth.

</p>
        <p id="ad-txt2" class="ad-txt">Education law deals with public and private<br />
         institutions at all levels – primary, secondary <br />
        and higher education.

</p>
        <p id="ad-txt3" class="ad-txt">
            An impressive UI kit comprising 200+ layered PSD <br />
            source files will be a useful addition to every <br />
            designer’s toolbox.<br />






        <p id="ad-icon4" class="material-icons">cake</p>
        <p id="ad-icon5" class="material-icons">
            card_travel
        </p>

        <p id="ad-icon6" class="material-icons">casino</p>
        <p id="ad-tit4" class="ad-tit">
            Sports Law
        </p>
        <p id="ad-tit5" class="ad-tit">
            Education Law
        </p>
        <p id="ad-tit6" class="ad-tit">
            Elder Law
        </p>

        <p id="ad-txt4" class="ad-txt">
            Advertising law is a broad, fast-evolving area of law<br />
             that involves vetting claims about products and<br />
             managing business practices.



        </p>
        <p id="ad-txt5" class="ad-txt">
            Includes the exploration for, and the production,<br />
             transportation and processing of, crude <br />
             oil, natural gas and hydrocarbons.


        </p>
        <p id="ad-txt6" class="ad-txt">
            Insurance policies sold to corporate policyholders<br /> protect against a wide variety of risks.



        </p>


        <p id="choose">Choose Your Plan</p>

        <div id="plano1">
            <p id="tipo1" class="plano-tipo">FREE</p>
            <p id="preço1" class="plano-preço">$0</p>
            <p id="bol1" class="plano-bol"><b>•</b><br />
                <strong>1GB</strong> Space amount
</p>
            <p id="txt1" class="plano-txt"><strong>5</strong> Users</p>
            <p id="txt2" class="plano-txt"><strong>5GB</strong> Bandwith</p>
            <p id="txt3" class="plano-txt">No Suppiorts</p>
            <p id="txt4" class="plano-txt"></p>
            <p id="plano-bot1" class="botao">Sign Up</p>


        </div>


        <div id="plano2">
            <p id="tipo2" class="plano-tipo">STARTER</p>
            <p id="preço2" class="plano-preço">$59</p>
            <p id="bol2" class="plano-bol"><b>•</b><br />
                <strong>5GB</strong>Space amount
            </p>
            <p id="txt1b" class="plano-txt"><<strong>10</strong> Users</p>
            <p id="txt2b" class="plano-txt"><strong>10GB</strong> Bandwith</p>
            <p id="txt3b" class="plano-txt">No Supports</p>
            <p id="plano-bot2" class="botao">Sign Up</p>


        </div>


        <div id="plano3">
            <p id="tipo2" class="plano-tipo">BUSINESS
</p>
            <p id="preço2" class="plano-preço">$99</p>
            <p id="bol2" class="plano-bol">
                <b>•</b><br />
                <strong>10GB</strong>Space amount
            </p>
            <p id="txt1b" class="plano-txt"><strong>unimited</strong> Users</p>
            <p id="txt2b" class="plano-txt"><strong>30GB</strong> Bandwith</p>
            <p id="txt3b" class="plano-txt">Free Supports</p>
            <p id="plano-bot3" class="botao">Sign Up</p>


        </div>

        <div id="ar">
            <p id="law">The Law Firm You Can Trust!
</p>
            <p id="ar-bot" class="botao">Free Advice</p>
        </div>
        <div id="fim">
            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/logo-inverse-143x28.png" id="fim-logo" />
            <p id="fim-tit1" class="fim-titulo">RECENT POSTS</p>
            <p id="fim-tit2" class="fim-titulo">QUICK LINKS</p>
            <p id="fim-tit3" class="fim-titulo">CONTACT US</p>
            <p id="if">
                If you or your business is facing a legal <br />
                challenge that calls for sound advice and skilled <br />
                representation, contact us today to arrange a <br />
                free consultation with an attorney.

            </p>
            <p id="fim-free">Free Consultation</p>
            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/post-preview-5-70x70.jpg" id="fim-img1" />
            <img src="https://livedemo00.template-help.com/wt_61317_v1/images/post-preview-4-70x70.jpg" id="fim-img2" />
            <p id="fim-help1">Help Us Make the Law<br /> Accessible for Everyone</p>
            <p id="fim-help2">Help Us Make the Law<br /> Accessible for Everyone</p>

            <a id="fim-home" href="#">Home <br /><br /> Services <br /><br />Careers<br /><br />Blog</a>
            <a id="fim-hom2e" href="#">About Us <br /><br /> Contacts <br /><br />Appointment</a>

            <p id="fim-tel">+123 234 984 47 45</p>
            <p id="fim-email">info@demolink.org</p>
            <p id="loc">
                6036 Richmond hwy,<br />
                Alexandria, VA USA 22303
            </p>
            <p id="telicon" class="material-icons">
                contact_phone
            </p>
            <p id="emailicon" class="material-icons">
                email
            </p>
            <p id="locicon" class="material-icons">
                wifi
            </p>
            <p id="men-why"></p>


        </div>
     </div>
</body>
</html>
